.v-card__text {
    padding-top: 20px !important;
}

.v-toolbar--extended {
    height: 64px !important;
    .v-toolbar__content {
        height: 0 !important;
    }
}

.title-list {
    margin-bottom: 20px;
    .v-list-item__action {
        display: flex;
        flex-direction: unset;
        align-items: center;
        justify-content: flex-end;
    }
}

.add-update-content {
    &.v-dialog {
        overflow-y: unset;
        header {
            position: sticky;
        }
        .v-card__text {
            overflow-y: auto;
            max-height: 600px;
        }
    }
}