<v-dialog style="position: relative;" persistent v-model="visibleAddItem" max-width="1000px" content-class="add-update-content">
    <v-card>
        <v-toolbar dark color="primary">
            <v-btn icon dark @click="visibleAddItem = false">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Tạo nội dung</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
            <v-form ref="contentForm" v-model="valid" lazy-validation>
                <v-select v-model="data.actionTypeId" @change="handleChangeAction" :items="actionList" label="Chọn hàng động"
                    item-value="valueId" item-text="description" :rules="rules.actionRules"></v-select>
                <div v-if="data.actionTypeId === actionListConstant.MOVE_MAP">
                    <v-radio-group v-model="data.methodId" row :rules="rules.methodRules" @change="handleChangeMethod">
                        <v-radio label="Khu Vực" :value="methodConstant.REGION"></v-radio>
                        <v-radio label="Tỉnh Thành" :value="methodConstant.PROVINCE"></v-radio>
                    </v-radio-group>
                    <v-select v-if="data.methodId === methodConstant.REGION" v-model="data.data" :items="regions"
                        label="Khu Vực" item-text="name" item-value="placeId" :rules="rules.regionRules"></v-select>
                    <v-select v-if="data.methodId === methodConstant.PROVINCE" v-model="data.data" :items="locations"
                        label="Tỉnh Thành" item-text="name" item-value="placeId" :rules="rules.provinceRules">
                    </v-select>
                    <v-select v-model="data.duration" :items="durations" label="Chọn thời lượng" item-value="value">
                    </v-select>

                    <div class="add-update-content__row">
                        <div class="add-update-content__col span-2">
                            <v-switch v-model="data.isEnableIcon" label="Hiển thị icon, trạng thái thời tiết"></v-switch>
                        </div>
                        <div class="add-update-content__col span-2">
                            <v-switch v-model="data.isEnableLayer" label="Hiển thị layer màu từng tỉnh/huyện"></v-switch>
                        </div>
                    </div>
                    <v-label>
                        Tùy chỉnh vị trí camera
                    </v-label>
                    <div class="add-update-content__row"  style="margin: 10px 0;">
                        <div class="add-update-content__col span-4">
                            <v-text-field  v-model.number="data.top" label="Top"/>
                        </div>
                        <div class="add-update-content__col span-4">
                            <v-text-field  v-model.number="data.bottom" label="Bottom" />
                        </div>
                        <div class="add-update-content__col span-4">
                            <v-text-field  v-model.number="data.left" label="Left" />
                        </div>
                        <div class="add-update-content__col span-4">
                            <v-text-field  v-model.number="data.right" label="Right" />
                        </div>
                    </div>
                    <v-card v-if="data.data" class="title-list">
                        <v-toolbar color="blue">
                            <v-toolbar-title class="white--text">
                                Tiêu đề
                            </v-toolbar-title>
                        </v-toolbar>
                        <v-list two-line subheader>
                            <v-subheader inset>
                                Nội dung Tiêu đề
                            </v-subheader>
                            <v-list-item link>
                                <v-list-item-avatar>
                                    <v-icon>
                                        mdi-clipboard-text
                                    </v-icon>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title>{{coTitle.content}}</v-list-item-title>
                                    <v-list-item-subtitle>Thời gian: xuất hiện sau {{coTitle.startTime}} - Vị trí xuất hiện: {{coTitle.position}} - Thời lượng: {{coTitle.duration}}
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                                <v-list-item-action>
                                    <v-btn :disabled="coDisabledEditTitle" icon color="primary">
                                        <v-icon @click="visibleUpdateTitle = !visibleUpdateTitle">mdi-pencil</v-icon>
                                    </v-btn>
                                    <v-switch v-model="isDisPlayTitle"></v-switch>
                                </v-list-item-action>
                            </v-list-item>
                        </v-list>
                        <add-update-title :edit-data="coTitle" :visible.sync="visibleUpdateTitle" :location="data.data" :is-province="data.methodId === methodConstant.PROVINCE" @save="handleSaveTitle"/>
                    </v-card>
                    <v-card v-if="data.data" class="title-list">
                        <v-toolbar color="blue">
                            <v-toolbar-title class="white--text">
                                Bảng nhiệt độ
                            </v-toolbar-title>
                        </v-toolbar>
                        <v-list two-line subheader>
                            <v-subheader inset>
                                Bảng nhiệt độ
                            </v-subheader>
                            <v-list-item link>
                                <v-list-item-avatar>
                                    <v-icon>
                                        mdi-clipboard-text
                                    </v-icon>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title>Thông tin nhiệt độ - thời tiết</v-list-item-title>
                                    <v-list-item-subtitle>Thời gian: xuất hiện sau {{coTempInfo.startTime}} - Vị trí xuất hiện:
                                        {{coTempInfo.position}} - Thời lượng: {{coTempInfo.duration}}
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                                <v-list-item-action>
                                    <v-btn :disabled="coDisabledEditTempInfo" icon color="primary">
                                        <v-icon @click="visibleUpdateTempInfo = !visibleUpdateTempInfo">mdi-pencil</v-icon>
                                    </v-btn>
                                    <v-switch v-model="isDisPlayTempInfo"></v-switch>
                                </v-list-item-action>
                            </v-list-item>
                        </v-list>
                        <add-update-temp-info :edit-data="coTempInfo" :visible.sync="visibleUpdateTempInfo" :location="data.data" :is-province="data.methodId === methodConstant.PROVINCE" @save="handleSaveTempInfo"/>
                    </v-card>
                    <v-card v-if="data.data">
                        <v-toolbar color="blue">
                            <v-toolbar-title class="white--text" style="margin-top: 54px;">
                                Text box
                            </v-toolbar-title>
                            <v-spacer></v-spacer>
                            <template v-slot:extension>
                                <v-btn fab color="white" bottom right absolute
                                    @click="handleAddContent">
                                    <v-icon>mdi-plus</v-icon>
                                </v-btn>
                            </template>
                        </v-toolbar>
                        <v-list two-line subheader>
                            <v-subheader inset>
                                Nội dung Text Box
                            </v-subheader>
                            <v-list-item link v-for="(item,index) in coTextBox" :key="generateKey(index)">
                                <v-list-item-avatar>
                                    <v-icon>
                                        mdi-clipboard-text
                                    </v-icon>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title>{{item.content}}</v-list-item-title>
                                    <v-list-item-subtitle>Thời gian: xuất hiện sau {{item.startTime}} - Vị trí xuất hiện: {{item.position}}
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                                <v-list-item-action>
                                    <v-btn icon color="primary" @click="handleEditTextBox(item, index)">
                                        <v-icon>mdi-pencil</v-icon>
                                    </v-btn>
                                    <v-btn icon color="red" @click="handleDeleteTextBox(index)">
                                        <v-icon>mdi-delete</v-icon>
                                    </v-btn>
                                </v-list-item-action>
                            </v-list-item>
                        </v-list>
                        <add-update-textbox :edit-data="textbox" :visible.sync="visibleAddTexbox" :location="data.data" :is-province="data.methodId === methodConstant.PROVINCE" @save="handleSaveTextBox"/>
                    </v-card>
                </div>
                <div v-if="data.actionTypeId === actionListConstant.CHANGE_MAP_STATUS">
                    <v-select v-model="data.data" :items="mapTypes" label="Loại bản đồ" item-text="name"
                        item-value="type" :rules="rules.mapTypeRules"></v-select>
                </div>
                <div v-if="data.actionTypeId === actionListConstant.CHANGE_ZOOM_LEVEL">
                    <v-select v-model="data.data" :items="zooms" label="Độ thu phóng bản đồ" item-text="name"
                        item-value="type" :rules="rules.zoomRules"></v-select>
                </div>
                <div v-if="data.actionTypeId === actionListConstant.WAIT">
                    <v-select v-model="data.duration" :items="durations" label="Chọn thời lượng" item-value="value">
                    </v-select>
                </div>
                <div v-if="data.actionTypeId === actionListConstant.CHANGE_ELEVATION">
                    <v-select v-model="data.data" :items="elevations" label="Độ cao bản đồ" item-text="label" item-value="data"
                        :rules="rules.elevationRules"></v-select>
                </div>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="handleSave">
                Lưu Nội Dung
            </v-btn>
        </v-card-actions>
    </v-card>
    <confirm-dialog v-model="visibleConfirm" :title="confirmTitle" :action="confirmAction" @confirm="handleConfirm" />
    <loading :is-loading="isLoading" absolute />
</v-dialog>
