<v-dialog persistent v-model="visibleAddItem" max-width="700px">
    <v-card>
        <v-toolbar dark color="primary">
            <v-btn icon dark @click="visibleAddItem = false">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Tạo nội dung</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
            <v-select v-model="data.action" :items="actionList" label="Chọn hàng động" item-value="value"></v-select>
            <div v-if="data.action">
                <v-radio-group v-model="data.method" row>
                    <v-radio label="Khu Vực" value="handleClickRegion"></v-radio>
                    <v-radio label="Tỉnh Thành" value="handleClick"></v-radio>
                </v-radio-group>
                <v-select v-if="data.method === 'handleClickRegion'" v-model="data.data" :items="regions"
                    label="Khu Vực" item-text="name" item-value="placeId"></v-select>
                <v-select v-if="data.method === 'handleClick'" v-model="data.data" :items="locations" label="Tỉnh Thành"
                    item-text="name" item-value="placeId"></v-select>
                <v-select v-model="data.duration" :items="durations" label="Chọn thời lượng" item-value="value">
                </v-select>
            </div>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="handleSave">
                Lưu Nội Dung
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>
