.my-comment {
    font-size: 15px;
    background-color: #fff;
    &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    &-item {
        padding: 15px 20px;
        border-bottom: 1px solid #eee;
        &-header {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 10px;
            width: calc(100% - 10px);

            > div:first-child {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;
                word-wrap: break-word;
                font-weight: 600;
            }
            &--status {
                border-radius: 30px;
                padding: 5px 10px;
                text-align: center;
                width: fit-content;
                float: right;

                // &.unapprove {
                //     color: #D16F00;
                //     background: #FFF5E5 0% 0% no-repeat padding-box;
                // }
                // &.approve {
                //     color: #4A4A4A;
                //     background: #EEEEEE 0% 0% no-repeat padding-box;
                // }
                // &.not-approve {
                //     color: #FF0000;
                //     background: #FFEBEB 0% 0% no-repeat padding-box;
                // }

                &-1 {
                    color: #D16F00;
                    background: #FFF5E5 0% 0% no-repeat padding-box;
                }

                &-2 {
                    color: #2196f3;
                    border: #ccc 1px solid;
                }

                &-3 {
                    color: #4A4A4A;
                    background: #EEEEEE 0% 0% no-repeat padding-box;
                    border: #ccc 1px solid;
                }

                &-4 {
                    color: #FF0000;
                    background: #FFEBEB 0% 0% no-repeat padding-box;
                }

                &-5 {
                    color: #FF0000;
                    background: #FFEBEB 0% 0% no-repeat padding-box;
                }
            }
        }
        &-body {
            display: flex;
            margin-top: 10px;
            &--content {
                width: 100%;
                margin-left: 20px;
                &__time {
                    color: rgba(0, 0, 0, 0.54);
                    margin-bottom: 5px;
                }
                &__text {
                    color: #000;
                }
                &__button {
                    cursor: pointer;
                    color: #2196F3;
                    width: fit-content;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
