<div class="my-comment">
    <div class="my-comment-item">
        <div class="my-comment-item-header">
            <div>
                Bản tin thời tiết đài truyền hình Vĩnh Long
            </div>
            <div></div> <!-- DONT DELETE THIS DIV -->
        </div>
        <div class="my-comment-item-body">
            <div class="my-comment-item-body--avatar">
                <v-avatar :color="getColor('CN')" size="50">
                    <span class="white--text">CN</span>
                </v-avatar>
            </div>
            <div class="my-comment-item-body--content">
                <div class="my-comment-item-body--content__time">4 hours ago</div>
                <div class="my-comment-item-body--content__text">Bài viết rất bổ ích, cảm ơn bạn cho mình thông tin</div>
            </div>
        </div>
    </div>
    <div class="my-comment-item">
        <div class="my-comment-item-header">
            <div>
                Bản tin thời tiết đài truyền hình Vĩnh Long
            </div>
            <div></div> <!-- DONT DELETE THIS DIV -->
        </div>
        <div class="my-comment-item-body">
            <div class="my-comment-item-body--avatar">
                <v-avatar :color="getColor('CN')" size="50">
                    <span class="white--text">CN</span>
                </v-avatar>
            </div>
            <div class="my-comment-item-body--content">
                <div class="my-comment-item-body--content__time">28 thg 8, 2020</div>
                <div class="my-comment-item-body--content__text">Bài viết rất bổ ích, cảm ơn bạn cho mình thông tin</div>
            </div>
        </div>
    </div>
    <div class="my-comment-item">
        <div class="my-comment-item-header">
            <div>
                Bản tin thời tiết đài truyền hình Vĩnh Long
            </div>
            <div></div> <!-- DONT DELETE THIS DIV -->
        </div>
        <div class="my-comment-item-body">
            <div class="my-comment-item-body--avatar">
                <v-avatar :color="getColor('CN')" size="50">
                    <span class="white--text">CN</span>
                </v-avatar>
            </div>
            <div class="my-comment-item-body--content">
                <div class="my-comment-item-body--content__time">28 thg 8, 2020</div>
                <div class="my-comment-item-body--content__text">Bài viết rất bổ ích, cảm ơn bạn cho mình thông tin</div>
            </div>
        </div>
    </div>
</div>