<div class="list-user-container">
    <div class="base-cms-right--body_wrapper">
        <div class="base-cms-right--body_top align-start" :class="`${isDisplayButton ? 'd-lg-flex' : 'd-flex'}`">
            <p class="mr-auto">{{listUserTitle}}</p>
            <div class="d-flex align-start">
                <v-text-field label="Tìm kiếm" append-icon="mdi-magnify" outlined dense hide-details>
                </v-text-field>
                <v-btn v-if="isDisplayButton" class="ml-4" depressed color="primary" @click="toCreateUser()" height="40px">
                    + {{createUserTitle}}
                </v-btn>
            </div>
        </div>
        <div class="base-cms-right--body_table">
            <template>
                <v-simple-table fixed-header height="calc(100vh - 261px)">
                    <template v-slot:default>
                        <thead>
                            <tr>
                                <th class="base-cms-right--body_table_header_checkbox" style="width: 40px;">
                                    <v-checkbox color="primary" hide-details>
                                    </v-checkbox>
                                </th>
                                <th class="base-cms-right--body_table_header">
                                    TÊN TÀI KHOẢN
                                </th>
                                <th class="base-cms-right--body_table_header">
                                    NGÀY TẠO
                                </th>
                                <th class="base-cms-right--body_table_header">
                                    LOẠI TÀI KHOẢN
                                </th>
                                <th class="base-cms-right--body_table_header">
                                    TRẠNG THÁI
                                </th>
                                <th class="base-cms-right--body_table_header">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="users.length === 0">
                                <td colspan="6" style="text-align: center;">Không có dữ liệu</td>
                            </tr>
                            <tr v-for="(item, index) in users" :key="index">
                                <td class="base-cms-right--body_table_checkbox">
                                    <v-checkbox color="primary" hide-details></v-checkbox>
                                </td>
                                <td>
                                    <div class="base-cms-right--body_table_title">
                                        <img v-if="item.avatarUrl && item.avatarUrl !== ''" :src="item.avatarUrl" @error="onImgError(item)" />
                                        <v-avatar v-else :color="getColor(item.userName)" size="50" rounded>
                                            <span class="white--text">{{ getShortName(item) }}</span>
                                        </v-avatar>
                                        {{ item.userName }}
                                    </div>
                                </td>
                                <td>{{ $formatDateTime(item.createdOn) }}</td>
                                <td>{{ item.roleName }}</td>
                                <td>{{ item.status }}</td>
                                <td class="base-cms-right--body_table_action">
                                    <v-icon v-if="isDisplayButton" @click.native="editUser(item.email)" class="edit-action mr-2">mdi-square-edit-outline</v-icon>
                                    <!-- <v-icon v-if="isDisplayButton" @click.native="handleDeleteUser(item.email)" class="delete-action">mdi-delete</v-icon> -->
                                    <v-tooltip top>
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-icon v-bind="attrs"
                                                v-on="on"
                                                @click.native="handleDeleteUser(item.email)"
                                                color="error">mdi-account-off-outline</v-icon>
                                        </template>
                                        <span>Khóa tài khoản</span>
                                    </v-tooltip>
                                </td>
                            </tr>
                        </tbody>
                    </template>
                </v-simple-table>
            </template>
            <div class="d-flex align-center pa-4">
                <div class="mr-auto">{{numUsersInPage}}/{{totalItems}} người</div>
                <div class="d-flex align-center">
                    <v-subheader>Số người mỗi trang</v-subheader>
                    <v-select class="ml-3" style="width: 80px;" outlined dense hide-details :items="limitPerPage" v-model="userSearchParams.limit"
                        @change="getUsersByLimit"></v-select>
                </div>
                <v-pagination v-model="userSearchParams.page" :length="totalPages" :total-visible="TotalPageVisible"
                    @input="getUsersByPaging"></v-pagination>
            </div>
        </div>
    </div>
    <v-dialog v-model="visibleConfirm" max-width="450">
        <v-card>
            <v-card-title class="text-h5">
                Bạn có muốn khóa tài khoản này?
            </v-card-title>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn  text @click="visibleConfirm = false">
                    Bỏ qua
                </v-btn>
                <v-btn color="primary" @click="deleteUser()">
                    Đồng ý
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>
