<div class="list-user-container">
    <div class="base-cms-right--body_wrapper">
        <div class="base-cms-right--body_top">
            <p>{{listUserTitle}}</p>
            <v-text-field label="Tìm kiếm" append-icon="mdi-magnify" solo hide-details>
            </v-text-field>
            <v-btn depressed color="primary" height="50px" @click="toCreateUser()">
                + {{createUserTitle}}
            </v-btn>
        </div>
        <div class="base-cms-right--body_table">
            <template>
                <v-simple-table fixed-header height="calc(100vh - 261px)">
                    <template v-slot:default>
                        <thead>
                            <tr>
                                <th class="base-cms-right--body_table_header_checkbox" style="width: 40px;">
                                    <v-checkbox color="primary" hide-details>
                                    </v-checkbox>
                                </th>
                                <th class="base-cms-right--body_table_header">
                                    TÊN TÀI KHOẢN
                                </th>
                                <th class="base-cms-right--body_table_header">
                                    NGÀY TẠO
                                </th>
                                <th class="base-cms-right--body_table_header">
                                    LOẠI TÀI KHOẢN
                                </th>
                                <th class="base-cms-right--body_table_header">
                                    TRẠNG THÁI
                                </th>
                                <th class="base-cms-right--body_table_header">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in users" :key="index">
                                <td class="base-cms-right--body_table_checkbox">
                                    <v-checkbox color="primary" hide-details></v-checkbox>
                                </td>
                                <td>
                                    <div class="base-cms-right--body_table_title">
                                        <img :src="item.avatarUrl">
                                        {{ item.userName }}
                                    </div>
                                </td>
                                <td>{{ $formatDateTime(item.createdOn) }}</td>
                                <td>{{ item.roleName }}</td>
                                <td>{{ item.roleName }}</td>
                                <td class="base-cms-right--body_table_action">
                                    <v-icon @click.native="editUser(item.userId)" class="edit-action">mdi-square-edit-outline</v-icon>
                                    <v-icon @click.native="handleDeleteUser(item.userId)" class="delete-action">mdi-delete</v-icon>
                                </td>
                            </tr>
                        </tbody>
                    </template>
                </v-simple-table>
            </template>
            <div class="base-cms-right--body_table_footer_page_num">
                <div style="flex: 1;">{{numUsersInPage}}/{{totalItems}} người</div>
                <div class="base-cms-right--body_table_footer_page_num_limit">
                    Số người mỗi trang
                    <v-select style="margin-left: 20px;" :items="limitPerPage" v-model="userSearchParams.limit"
                        @change="getUsersByLimit"></v-select>
                </div>
                <v-pagination v-model="userSearchParams.page" :length="totalPages" :total-visible="TotalPageVisible"
                    @input="getUsersByPaging"></v-pagination>
            </div>
        </div>
    </div>
    <v-dialog v-model="visibleConfirm" max-width="400">
        <v-card>
            <v-card-title class="text-h5">
                Bạn có muốn xoá người dùng này?
            </v-card-title>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn  text @click="visibleConfirm = false">
                    Bỏ qua
                </v-btn>
                <v-btn color="primary" @click="deleteUser()">
                    Đồng ý
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>
