<v-menu fixed allow-overflow eager bottom left offset-y :close-on-content-click="false"
 transition="slide-y-transition" nudge-bottom="10" nudge-right="20">
    <template v-slot:activator="{ on, attrs }">
        <div v-bind="attrs" v-on="on" class="base-header-menu-item login d-flex align-center">
            <v-badge color="red" :content="notificationCount" :value="notificationCount"  overlap>
                <v-avatar size="35">
                    <v-icon>
                        mdi-bell
                    </v-icon>
                </v-avatar>
            </v-badge>
        </div>
    </template>
    <div class="notification-container">
        <div class="notification-container-list">
            <div class="notification-container-list--item" v-for="(item, index) in transformData" :key="index">
                <div class="notification-container-list--item_avatar">
                    <div v-if="!item.isRead" class="notification-container-list--item_avatar__unread">
                        <span class="dot"></span>
                    </div>
                    <v-badge avatar bottom bordered overlap>
                        <template v-slot:badge>
                            <v-avatar>
                                <v-img :src="getIconReaction(item.action)"></v-img>
                            </v-avatar>
                        </template>
                        <template>
                            <img v-if="item.fromUserAvatar" :src="item.fromUserAvatar" />
                            <v-avatar v-else :color="color(item.fromUserShortName)" size="35">
                                <span class="white--text">{{item.fromUserShortName}}</span>
                            </v-avatar>
                        </template>
                    </v-badge>
                    
                </div>
                <div class="notification-container-list--item_content">
                    <b>{{item.fromUserFullName}}</b> {{item.content}}
                </div>
            </div>
        </div>
        <div class="notification-container-loading" v-if="isLoading">
            <loading :is-loading="isLoading" absolute color="#FFFFFF" size="35" />
        </div>
        <div v-if="visibleLoadMore" class="notification-container-load-more">
            <v-btn text color="primary"  @click="handleLoadMore">
                Xem thêm các thông báo khác
            </v-btn>
        </div>
    </div>
</v-menu>