<div class="login-page-container">
    <div class="login-page-container-wrapper">
        <div class="login-page-container-wrapper--title">Đăng nhập</div>
        <v-form ref="loginForm" v-model="valid" lazy-validation>
            <div>
                <v-text-field label="Tài Khoản" v-model="data.userName" :rules="rules.nameRules" />
            </div>
            <div style="margin-top: 20px;">
                <v-text-field type="password" label="Mật Khẩu" v-model="data.password" :rules="rules.passRules"
                    :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPass ? 'text' : 'password'"
                    @click:append="showPass = !showPass"/>
            </div>
        </v-form>
        <div class="login-page-container-wrapper--btn-login">
            <v-btn @click="handleLogin()" :loading="isLoading" :disabled="isLoading">
                Đăng nhập
                <template v-slot:loader>
                    <span class="custom-loader">
                        <v-icon light>mdi-cached</v-icon>
                    </span>
                </template>
            </v-btn>
        </div>
        <div class="pass-forgot" @click="goToForgotPassword()">Quên mật khẩu?</div>
        <div class="register">
            <div>Bạn chưa có tài khoản?</div>
            <div class="register-link" @click="goToRegister()">Đăng kí</div>
        </div>
    </div>
</div>
