.weather-status {
    background: linear-gradient(rgb(0 114 255 / 30%), rgb(0 43 255 / 46%)),
        rgb(0 0 0 / 22%);
    border-radius: 10px;
    padding: 1vw;
    margin-top: 1vw;
    max-height: 500px;
    overflow: auto;
    /* width */
    &::-webkit-scrollbar {
        width: 5px;
        position: absolute;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        display: none;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #ddd;
        border-radius: 10px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }
}
