.weather-status {
    background: #fff;
    border-radius: 10px;
    max-height: 500px;
    overflow: auto;
    padding: 2vw;
    /* width */
    &::-webkit-scrollbar {
        width: 5px;
        position: absolute;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        display: none;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #333;
        border-radius: 10px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #000;
    }
}
