<div class="weather-status">
    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.1. Kh&iacute; tượng</span></span></span></>
            </span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Kh&iacute; tượng l&agrave; khoa học
                        nghi&ecirc;n cứu c&aacute;c qu&aacute; tr&igrave;nh v&agrave; c&aacute;c hiện tượng của
                        kh&iacute; quyển. C&aacute;c yếu tố kh&iacute; tượng chủ yếu bao gồm nhiệt độ, kh&iacute;
                        &aacute;p, độ ẩm, gi&oacute;, m&acirc;y, mưa. Ch&uacute;ng lu&ocirc;n biến động theo thời gian
                        v&agrave; kh&ocirc;ng gian trong mối tương t&aacute;c lẫn nhau theo những quy luật phức tạp của
                        tự nhi&ecirc;n.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >C&aacute;c hiện tượng thời tiết nguy hiểm
                        v&agrave; đặc biệt nguy hiểm đến mức thảm hoạ thi&ecirc;n tai (c&aacute;c thảm hoạ tự
                        nhi&ecirc;n) bắt nguồn từ c&aacute;c hiện tượng Kh&iacute; tượng thuỷ
                        văn.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.2.&nbsp; Thủy
                        văn</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Thuỷ văn l&agrave; khoa học nghi&ecirc;n cứu về
                        t&iacute;nh chất, sự chuyển động v&agrave; ph&acirc;n bố của nước trong to&agrave;n bộ
                        Tr&aacute;i đất, n&oacute; bao gồm cả chu tr&igrave;nh thuỷ văn v&agrave; t&agrave;i
                        nguy&ecirc;n nước.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.3.
                        B&atilde;o</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >B&atilde;o l&agrave; t&ecirc;n gọi chung những
                        xo&aacute;y thuận nhiệt đới (XTNĐ) tr&ecirc;n T&acirc;y bắc Th&aacute;i B&igrave;nh Dương khi
                        tốc độ gi&oacute; cực đại (Vmax) ở gần t&acirc;m duy tr&igrave; li&ecirc;n tục từ 64 hải
                        l&yacute; (gi&oacute; cấp 12) trở l&ecirc;n (hải l&yacute;: knot &ndash; kt, bằng 1,853 km/h).
                    </span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Uỷ ban b&atilde;o Khu vực Ch&acirc;u
                        &Aacute;-Th&aacute;i B&igrave;nh Dương chia XTNĐ ra 5 giai đoạn theo Vmax:
                    </span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >a) V&ugrave;ng &aacute;p thấp (low pressure
                        area): c&oacute; v&ugrave;ng &aacute;p thấp tr&ecirc;n bản đồ kh&iacute; &aacute;p bề mặt, nhưng
                        vị tr&iacute; trung t&acirc;m kh&ocirc;ng thể x&aacute;c định
                        được.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >b) &Aacute;p thấp nhiệt đới (ATNĐ: tropical
                        depression): vị tr&iacute; trung t&acirc;m c&oacute; thể x&aacute;c định được, nhưng Vmax &lt;34
                        kt.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >c) B&atilde;o tố nhiệt đới (Tropical storm
                        &ndash; TS): Vmax 34-47 kt </span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >d) B&atilde;o tố nhiệt đới mạnh (severe TS):
                        Vmax 48-63 kt.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >e) B&atilde;o (Typhoon): Vmax =&gt;64 kt.
                        C&oacute; cơn b&atilde;o qu&aacute; mạnh người ta gọi l&agrave; &ldquo;si&ecirc;u
                        b&atilde;o&rdquo; (supertyphoon).</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Ở ta, &ldquo;Quy chế b&aacute;o b&atilde;o,
                        lũ&rdquo; quy định tương tự như tr&ecirc;n cho Biển Đ&ocirc;ng, trừ v&ugrave;ng &aacute;p thấp,
                        gồm 1) ATNĐ: XTNĐ c&oacute; Vmax cấp 6-7 (39-61km/h), c&oacute; thể c&oacute; gi&oacute; giật
                        (GG); 2) B&atilde;o thường: XTNĐ c&oacute; Vmax cấp 8-9 (62-88km/h),GG; 3) B&atilde;o mạnh: XTNĐ
                        c&oacute; Vmax cấp 10-11 (89-117km/h), GG; 4) B&atilde;o rất mạnh: XTNĐ c&oacute; Vmax cấp 12
                        trở l&ecirc;n (=&gt;118km/h), GG.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >B&atilde;o l&agrave; hiện tượng đặc biệt nguy
                        hiểm, g&acirc;y ra gi&oacute; rất mạnh, c&oacute; thể đ&aacute;nh đắm tầu thuyền, l&agrave;m đổ
                        nh&agrave; cửa; mưa rất lớn, g&acirc;y lũ lụt nghi&ecirc;m trọng, c&oacute; khi trở th&agrave;nh
                        thảm hoạ. Ở nước ta m&ugrave;a b&atilde;o h&agrave;ng năm v&agrave;o th&aacute;ng 6 &ndash; 11,
                        nhiều nhất v&agrave;o th&aacute;ng 7 &ndash; 10. Theo số liệu lịch sử th&igrave; trừ
                        th&aacute;ng 2, c&aacute;c th&aacute;ng c&ograve;n lại đều c&oacute; thể c&oacute; b&atilde;o
                        nhưng rất hiếm.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.4. Kh&ocirc;ng kh&iacute;
                        lạnh</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Kh&ocirc;ng kh&iacute; lạnh l&agrave; hiện
                        tượng thời tiết khi khối kh&ocirc;ng kh&iacute; rất lạnh từ lục địa Ch&acirc;u &Aacute; di
                        chuyển xuống khu vực nước ta, nơi đang c&oacute; khối kh&ocirc;ng kh&iacute; ấm, g&acirc;y ra
                        gi&oacute; đ&ocirc;ng bắc mạnh trời trở r&eacute;t v&agrave; thời riết xấu, n&ecirc;n c&ograve;n
                        gọi l&agrave; &ldquo;gi&oacute; m&ugrave;a đ&ocirc;ng bắc&rdquo;. Khi kh&ocirc;ng kh&iacute;
                        lạnh tr&agrave;n về, đẩy kh&ocirc;ng kh&iacute; n&oacute;ng chuyển động l&ecirc;n cao, tạo
                        th&agrave;nh một dải chuyển tiếp, người ta vẽ một đường ph&acirc;n c&aacute;ch giữa 2 khối
                        kh&ocirc;ng kh&iacute;, kh&aacute;c nhau cơ bản về nhiệt độ v&agrave; độ
                        ẩm.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.5. Gi&oacute; m&ugrave;a đ&ocirc;ng
                        bắc</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Gi&oacute; m&ugrave;a đ&ocirc;ng bắc l&agrave;
                        hiện tượng thời tiết đặc biệt nguy hiểm, v&igrave; khi n&oacute; tr&agrave;n về ngo&agrave;i
                        khơi vịnh Bắc bộ gi&oacute; c&oacute; thể mạnh đến cấp 6 &ndash; 7, c&oacute; thể đ&aacute;nh
                        đắm tầu thuyền, đất liền gi&oacute; cấp 4 &ndash; 5, c&oacute; thể l&agrave;m hư hại nh&agrave;
                        cửa, c&acirc;y cối, c&aacute;c c&ocirc;ng tr&igrave;nh đang thi c&ocirc;ng tr&ecirc;n cao,
                        &hellip;Đặc biệt những đợt mạnh c&ograve;n g&acirc;y ra mưa to, gi&oacute; lớn, thậm ch&iacute;
                        d&ocirc;ng, lốc, c&oacute; khi cả mưa đ&aacute;. V&agrave;o những th&aacute;ng ch&iacute;nh
                        đ&ocirc;ng (th&aacute;ng 12, th&aacute;ng 1), đ&ecirc;m về trời quang m&acirc;y, g&acirc;y ra
                        sương muối, băng gi&aacute;, thậm ch&iacute; c&oacute; năm cả tuyết rơi tr&ecirc;n v&ugrave;ng
                        n&uacute;i cao; nếu k&eacute;o d&agrave;i c&ograve;n g&acirc;y r&eacute;t đậm, r&eacute;t hại
                        kh&ocirc;ng những đối với c&acirc;y tr&ograve;ng, gia s&uacute;c m&agrave; cả con người. Ở ta
                        kh&ocirc;ng kh&iacute; lạnh thường từ th&aacute;ng 9 -10 đến th&aacute;ng 5 &ndash; 6 năm sau,
                        nhưng mạnh nhất v&agrave;o c&aacute;c th&aacute;ng ch&iacute;nh đ&ocirc;ng, ảnh hưởng trực tiếp
                        l&agrave; khu vực ph&iacute;a bắc, từ đ&egrave;o Ngang trở ra, &iacute;t khi đến nam Trung
                        bộ.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.6.&nbsp; El
                        Nino</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >El Nino l&agrave; hiện tượng nhiệt độ nước biển
                        ấm l&ecirc;n bất thường ở ngo&agrave;i khơi bờ biển Nam Ch&acirc;u Mỹ (Peru v&agrave; Ecuador),
                        ph&iacute;a Th&aacute;i B&igrave;nh Dương, thường k&eacute;o theo mưa lớn ở v&ugrave;ng bờ biển
                        Peru v&agrave; Chile.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.7.&nbsp; La
                        Nina</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >La Nina l&agrave; hiện tượng nhiệt độ nước biển
                        lạnh đi kh&aacute;c thường ở ngo&agrave;i khơi bờ biển n&oacute;i tr&ecirc;n. Hiệu ứng của La
                        Nina thường ngược lại với El Nino.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.8.&nbsp;
                        D&ocirc;ng</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >D&ocirc;ng l&agrave; hiện tượng kh&iacute;
                        tượng phức hợp gồm chớp v&agrave; k&egrave;m theo sấm do đối lưu rất mạnh trong kh&iacute; quyển
                        g&acirc;y ra. N&oacute; cũng thường k&egrave;m theo gi&oacute; mạnh, mưa r&agrave;o, sấm
                        s&eacute;t dữ dội, thậm ch&iacute; cả mưa đ&aacute;, v&ograve;i rồng (ở v&ugrave;ng vĩ độ cao
                        c&oacute; khi c&ograve;n c&oacute; cả tuyết rơi).</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >D&ocirc;ng được xếp v&agrave;o thời tiết nguy
                        hiểm v&igrave; h&agrave;ng năm c&oacute; nước s&eacute;t đ&aacute;nh chết h&agrave;ng
                        ngh&igrave;n người, g&acirc;y ra h&agrave;ng trăm vụ ch&aacute;y rừng, ch&aacute;y nh&agrave;,
                        l&agrave;m hư hỏng nhiều thiết bị m&aacute;y m&oacute;c, nhất l&agrave; c&aacute;c thiết bị điện
                        tử.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >D&ocirc;ng ở nước ta c&oacute; thể xảy ra quanh
                        năm, nhưng v&agrave;o th&aacute;ng ch&iacute;nh đ&ocirc;ng ở khu vực Bắc bộ nước ta d&ocirc;ng
                        rất &iacute;t, c&oacute; năm gi&aacute;n đoạn đến dịp sang xu&acirc;n. D&ocirc;ng thường sinh ra
                        trong thời tiết n&oacute;ng ẩm n&ecirc;n về m&ugrave;a h&egrave; ở nước ta d&ocirc;ng xảy ra
                        thường xuy&ecirc;n hơn, thường v&agrave;o buổi chiều hay chiều tối v&agrave; được gọi l&agrave;
                        d&ocirc;ng nhiệt. Đặc biệt tr&ecirc;n c&aacute;c v&ugrave;ng n&uacute;i hay s&ocirc;ng hồ trong
                        những th&aacute;ng n&oacute;ng ẩm, d&ocirc;ng c&oacute; thể xuất hiện nhiều v&agrave; bất
                        thường, lại hay k&egrave;m theo gi&oacute; mạnh n&ecirc;n rất nguy hiểm cho t&iacute;nh mạng con
                        người.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.9. Mưa
                        đ&aacute;</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Mưa đ&aacute; l&agrave; hiện tượng mưa dưới
                        dạng hạt hoặc cục băng c&oacute; h&igrave;nh d&aacute;ng v&agrave; k&iacute;ch thước kh&aacute;c
                        nhau do đối lưu cực mạnh từ c&aacute;c đ&aacute;m m&acirc;y d&ocirc;ng g&acirc;y ra. K&iacute;ch
                        thước c&oacute; thể từ 5 mm đến h&agrave;ng chục cm, thường cỡ khoảng một v&agrave;i cm,
                        c&oacute; dạng h&igrave;nh cầu kh&ocirc;ng c&acirc;n đối. Những hạt mưa đ&aacute; thường rơi
                        xuống c&ugrave;ng với mưa r&agrave;o. Mưa đ&aacute; thường kết th&uacute;c rất nhanh trong
                        v&ograve;ng 5 -10 ph&uacute;t, l&acirc;u nhất cho cả một vệt mưa cũng chỉ 20 &ndash; 30
                        ph&uacute;t.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Trong cơn d&ocirc;ng mưa đ&aacute; thường
                        k&egrave;m theo gi&oacute; rất mạnh, c&oacute; khi l&agrave; gi&oacute; lốc k&egrave;m theo mưa
                        đ&aacute;, sức t&agrave;n ph&aacute; hết sức khủng khiếp do gi&oacute; mạnh v&agrave;
                        xo&aacute;y g&acirc;y ra. Ngo&agrave;i gi&oacute; rất mạnh ra th&igrave; bản th&acirc;n những
                        h&ograve;n mưa đ&aacute; cũng c&oacute; khi g&acirc;y ra đổ nh&agrave;, t&agrave;n ph&aacute;
                        c&acirc;y cối, thậm ch&iacute; chết người. V&igrave; vậy mưa đ&aacute; được xếp v&agrave;o những
                        hiện tượng thời tiết nguy hiểm.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Mưa đ&aacute; thường xảy ra ở v&ugrave;ng
                        n&uacute;i hay khu vực gi&aacute;p biển, gi&aacute;p n&uacute;i (b&aacute;n sơn địa), c&ograve;n
                        v&ugrave;ng đồng bằng &iacute;t xảy ra hơn. V&igrave; vậy ở nước ta mưa đ&aacute; c&oacute; thể
                        xảy ra ở khắp c&aacute;c v&ugrave;ng miền. v&agrave; cả trong m&ugrave;a h&egrave;. Ri&ecirc;ng
                        ở v&ugrave;ng n&uacute;i ph&iacute;a bắc nước ta, từ th&aacute;ng 1 đến th&aacute;ng 5
                        h&agrave;ng năm thường c&oacute; mưa đ&aacute;, nhiều nhất l&agrave; từ th&aacute;ng 3 đến
                        th&aacute;ng 5, m&agrave; nguy&ecirc;n nh&acirc;n chủ yếu l&agrave; c&aacute;c đợt front lạnh
                        cực mạnh tr&agrave;n về nhanh.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Khi chưa nhận được tin dự b&aacute;o mưa
                        đ&aacute; bạn đọc vẫn c&oacute; thể qua hiểu biết m&agrave; tự ph&ograve;ng tr&aacute;nh: Nếu
                        thấy trời nổi d&ocirc;ng gi&oacute;, m&acirc;y đen bao phủ bầu trời gần như k&iacute;n tầm mắt,
                        c&oacute; dạng như bầu v&uacute;, rồi d&ocirc;ng gi&oacute; nổi l&ecirc;n mạnh, tạo ra tiếng
                        &ldquo;&ugrave; &ugrave;, ầm ầm&rdquo; li&ecirc;n tục th&igrave; bạn h&atilde;y cảnh gi&aacute;c
                        với mưa đ&aacute;. Nếu tiếp đ&oacute; lắc rắc v&agrave;i hạt mưa r&agrave;o, ta cảm thấy nhiệt
                        độ kh&ocirc;ng kh&iacute; như lạnh đi, c&oacute; thể mưa đ&aacute; đ&atilde; k&eacute;o đến.
                        H&atilde;y c&ugrave;ng nhau chi&ecirc;m nghiệm, rất lợi &iacute;ch v&agrave; th&uacute; vị
                        !</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.10.V&ograve;i
                        rồng</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >V&ograve;i rồng l&agrave; hiện tượng gi&oacute;
                        xo&aacute;y rất mạnh, phạm vi đường k&iacute;nh rất nhỏ, h&uacute;t từ bề mặt đất l&ecirc;n
                        đ&aacute;m m&acirc;y vũ t&iacute;ch, tạo th&agrave;nh h&igrave;nh như c&aacute;i phễu di động,
                        tr&ocirc;ng giống như c&aacute;i v&ograve;i, nhưng từ tr&ecirc;n bầu trời th&ograve; xuống
                        n&ecirc;n d&acirc;n ta gọi l&agrave; &ldquo;v&ograve;i
                        rồng&rdquo;.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Tr&ecirc;n đường di chuyển n&oacute; c&oacute;
                        thể cuốn theo (rồi n&eacute;m xuống ở một khoảng c&aacute;ch sau đ&oacute;) hoặc ph&aacute; huỷ
                        mọi thứ m&agrave; n&oacute; c&oacute; thể, kể cả những nh&agrave; gạch x&acirc;y kh&ocirc;ng
                        ki&ecirc;n cố., n&ecirc;n n&oacute; cũng l&agrave; hiện tượng kh&iacute; tượng đặc biệt nguy
                        hiểm. Nh&igrave;n từ xa v&ograve;i rồng c&oacute; thể c&oacute; m&agrave;u đen hoặc trắng, tuỳ
                        thuộc những thứ m&agrave; n&oacute; cuốn theo. V&ograve;i rồng xuất hiện ở tr&ecirc;n đại dương
                        thường h&uacute;t nước biển l&ecirc;n cao tạo th&agrave;nh c&aacute;c c&acirc;y nước
                        (waterspouts). </span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >V&ograve;i rồng ph&aacute;t triển từ một cơn
                        d&ocirc;ng, thường từ ổ d&ocirc;ng rất mạnh hay si&ecirc;u mạnh, n&ecirc;n ở đ&acirc;u c&oacute;
                        d&ocirc;ng dữ dội l&agrave; ở đ&oacute; c&oacute; thể c&oacute; v&ograve;i rồng, song cũng may
                        l&agrave; n&oacute; rất hiếm. Cũng c&oacute; khi n&oacute; sinh ra từ một dải gi&oacute; giật
                        mạnh hay từ một cơn b&atilde;o. Người ta cho rằng khi kh&ocirc;ng kh&iacute; ở lớp b&ecirc;n
                        tr&ecirc;n lạnh đ&egrave; l&ecirc;n lớp kh&ocirc;ng kh&iacute; n&oacute;ng ở ph&iacute;a dưới,
                        kh&ocirc;ng kh&iacute; n&oacute;ng sẽ bị cưỡng bức chuyển động l&ecirc;n rất mạnh, thế nhưng
                        kh&iacute; v&ograve;i rồng xảy ra tr&ecirc;n mặt nước th&igrave; thường lại kh&ocirc;ng thấy đối
                        lưu v&agrave; cũng kh&ocirc;ng thấy sự kh&aacute;c biệt nhiệt độ giữa c&aacute;c lớp. V&igrave;
                        vậy nguy&ecirc;n nh&acirc;n v&ograve;i rồng con người vẫn chưa ho&agrave;n to&agrave;n hiểu được
                        hết.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.11. Lũ</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Lũ l&agrave; hiện tượng d&ograve;ng nước do mưa
                        lớn t&iacute;ch luỹ từ nơi cao tr&agrave;n về dữ dội l&agrave;m ngập lụt một khu vực hoặc một
                        v&ugrave;ng trũng, thấp hơn. Nếu mưa lớn, nước mưa lại bị t&iacute;ch luỹ bởi c&aacute;c trướng
                        ngại vật như đất đ&aacute;, c&acirc;y cối cho đến khi lượng nước vượt qu&aacute; sức chịu đựng
                        của vật chắn, ph&aacute; vỡ vật chắn, &agrave;o xuống cấp tập (rất nhanh), cuốn theo đất
                        đ&aacute;, c&acirc;y cối v&agrave; qu&eacute;t đi mọi vật c&oacute; thể qu&eacute;t theo
                        d&ograve;ng chảy th&igrave; được gọi l&agrave; lũ qu&eacute;t (hay lũ ống), thường diễn ra rất
                        nhanh, khoảng 3-6 giờ.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Lũ lụt l&agrave; hiện tương thuỷ văn đặc biệt
                        nguy hiểm, nhất l&agrave; lũ qu&eacute;t. Trong một số trường hợp n&oacute; c&oacute; sức
                        t&agrave;n ph&aacute; khủng khiếp v&agrave; trở th&agrave;nh thảm hoạ tự
                        nhi&ecirc;n.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Nước lũ thường đi đ&ocirc;i với m&ugrave;a mưa.
                        M&ugrave;a lũ ở Bắc bộ từ th&aacute;ng 5-6 đến th&aacute;ng 9-10. Bắc Trung bộ từ th&aacute;ng
                        6-7 đến th&aacute;ng 10-11, Trung v&agrave; Nam Trung bộ: th&aacute;ng 10-12, T&acirc;y
                        nguy&ecirc;n: th&aacute;ng 6-12, Nam bộ: th&aacute;ng 7-12. Tuy vậy đầu m&ugrave;a mưa cũng
                        c&oacute; thể c&oacute; lũ sớm, như lũ &ldquo;tiểu m&atilde;n&rdquo;, thường xảy ra v&agrave;o
                        &ldquo;tiết tiểu m&atilde;n&rdquo; (th&aacute;ng 5) h&agrave;ng năm ở v&ugrave;ng n&uacute;i
                        ph&iacute;a bắc nước ta. Song m&ugrave;a lũ h&agrave;ng năm cũng biến động c&ugrave;ng với
                        m&ugrave;a mưa, thậm ch&iacute; sớm muộn 1-2 th&aacute;ng so với trung b&igrave;nh nhiều
                        năm.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.12. Hạn</span></span></span></span></span>
    </p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Hạn l&agrave; hiện tượng thời tiết kh&ocirc;
                        kh&ocirc;ng b&igrave;nh thường ở một khu vực do trong một thời gian d&agrave;i kh&ocirc;ng
                        c&oacute; mưa hay mưa kh&ocirc;ng đ&aacute;ng kể. Song hạn kh&ocirc;ng phải l&agrave; hiện tượng
                        thuần tu&yacute; vật l&yacute;, m&agrave; c&oacute; sự t&aacute;c động qua lại giữa nước tự
                        nhi&ecirc;n với nhu cầu sử dụng nước của con người, v&igrave; thế định nghĩa ch&iacute;nh
                        x&aacute;c về hạn l&agrave; vấn đề phức tạp do phải c&acirc;n nhắc rất nhiều mặt trong sự tương
                        t&aacute;c đ&oacute;.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Người ta chấp nhận 3 kh&aacute;i niệm sau
                        đ&acirc;y về hạn: </span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1) Hạn kh&iacute; tượng: l&agrave; một thời kỳ
                        d&agrave;i mưa &iacute;t hơn trung b&igrave;nh nhiều năm.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >2) Hạn n&ocirc;ng nghiệp: l&agrave; hạn khi
                        m&agrave; thiếu độ ẩm đối với một thời vụ hay thời kỳ sản xuất trung b&igrave;nh. Điều
                        n&agrave;y xảy ra ngay cả khi mưa ở mức trung b&igrave;nh, nhưng lại do điều kiện đất hay kỹ
                        thuật canh t&aacute;c đ&ograve;i hỏi tăng l&ecirc;n.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >3) Hạn thuỷ văn: l&agrave; khi nước dự trữ
                        c&oacute; thể d&ugrave;ng được trong c&aacute;c nguồn như tầng ngầm, s&ocirc;ng ng&ograve;i, hồ
                        chứa tụt xuống mức thấp hơn trung b&igrave;nh thống k&ecirc;. Điều n&agrave;y cũng c&oacute; thể
                        xảy ra ngay cả khi mưa trung b&igrave;nh, nhưng sử dụng nước tăng l&ecirc;n, l&agrave;m thu hẹp
                        mức dự trữ nước.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Hạn l&agrave; hiện tượng c&oacute; hại,
                        c&oacute; khi dẫn đến thảm hoạ như đ&atilde; từng xảy ra ở một số nước Ch&acirc;u Phi. Ở nước ta
                        hạn xảy ra ở cả 3 miền, nhưng miền trung hạn nặng nhất, nhiều v&ugrave;ng đang c&oacute; nguy cơ
                        sa mạc ho&aacute;. </span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.13. Gi&oacute; kh&ocirc; n&oacute;ng cũng
                        l&agrave; loại thời tiết nguy hiểm.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Gi&oacute; t&acirc;y thổi từ t&acirc;y qua
                        đ&ocirc;ng d&atilde;y Trường son g&acirc;y ra gi&oacute; kh&ocirc; n&oacute;ng chủ yếu ở khu vực
                        miền Trung nước ta, thường xảy ra v&agrave;o th&aacute;ng 4, 5 v&agrave; 6 h&agrave;ng năm,
                        th&agrave;nh từng đợt, k&eacute;o d&agrave;i trong nhiều ng&agrave;y. Thời tiết trong những
                        ng&agrave;y n&agrave;y rất kh&ocirc;, độ ẩm c&oacute; khi xuống 30%, v&agrave; n&oacute;ng,
                        nhiệt độ c&oacute; khi l&ecirc;n tới 43oC, bầu trời kh&ocirc;ng một gợn m&acirc;y, trời nắng
                        ch&oacute;i chang, gi&oacute; lại thổi đều đều như quạt lửa, c&acirc;y cỏ h&eacute;o kh&ocirc;,
                        ao hồ cạn kiệt, con người v&agrave; gia s&uacute;c bị ngột ngạt, rất dễ sinh hoả hoạn.
                        C&aacute;c nơi kh&aacute;c ở nước ta cũng c&oacute; gi&oacute; kh&ocirc; n&oacute;ng, song mức
                        độ thấp hơn so với Trung bộ, &nbsp;chỉ ti&ecirc;u: ng&agrave;y c&oacute; nhiệt độ &gt;35oC, độ
                        ẩm &lt;= 55% được xem l&agrave; ng&agrave;y c&oacute; gi&oacute; kh&ocirc;
                        n&oacute;ng.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.14.&nbsp; Sương
                        muối</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Sương muối l&agrave; hiện tượng hơi nước
                        đ&oacute;ng băng th&agrave;nh c&aacute;c hạt nhỏ v&agrave; trắng như muối ngay tr&ecirc;n mặt
                        đất hay bề mặt c&acirc;y cỏ hoặc c&aacute;c vật thể kh&aacute;c khi kh&ocirc;ng kh&iacute;
                        tr&ecirc;n đ&oacute; ẩm v&agrave; lạnh. N&oacute; thường h&igrave;nh th&agrave;nh v&agrave;o
                        những đ&ecirc;m đ&ocirc;ng, trời lặng gi&oacute;, quang m&acirc;y, khi m&agrave; bức xạ
                        l&agrave; nguy&ecirc;n nh&acirc;n chủ yếu của qu&aacute; tr&igrave;nh lạnh đi của kh&ocirc;ng
                        kh&iacute; v&agrave; c&aacute;c vật thể.</span></span></span></></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Sương muối l&agrave; hiện tượng nguy hiểm đối
                        với nhiều loại c&acirc;y trồng v&agrave; vật nu&ocirc;i.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Ở nước ta sau khi kh&ocirc;ng kh&iacute; lạnh
                        tr&agrave;n về, v&ugrave;ng n&uacute;i Bắc bộ nằm s&acirc;u trong kh&ocirc;ng kh&iacute; lạnh,
                        đ&ecirc;m trời quang m&acirc;y, lặng gi&oacute;, kh&ocirc;ng kh&iacute; ẩm đ&atilde; lạnh lại bị
                        bức xạ mất nhiệt n&ecirc;n tiếp tục lạnh, nhiệt độ kh&ocirc;ng kh&iacute; giảm nhanh dẫn đến
                        h&igrave;nh th&agrave;nh sương muối. Sương muối thường h&igrave;nh th&agrave;nh khi nhiệt độ
                        kh&ocirc;ng kh&iacute; &lt;= 4oC (trong lều kh&iacute; tượng ở độ cao 2m), khi ấy nhiệt độ bề
                        mặt c&aacute;c vật thể hay c&acirc;y cỏ ở mặt đất đ&atilde; c&oacute; thể xấp xỉ 0 oC, nhưng
                        phải đủ ẩm mới h&igrave;nh th&agrave;nh được sương muối. C&aacute;c v&ugrave;ng đồng bằng nước
                        ta chỉ c&oacute; sương gi&aacute; (kh&ocirc;ng phải sương muối), song n&oacute; cũng nguy hiểm
                        đối với một số c&acirc;y trồng nếu thời gian sương gi&aacute; k&eacute;o
                        d&agrave;i.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.15. Sương
                        m&ugrave;</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Sương m&ugrave; l&agrave; hiện tượng hơi nước
                        ngưng tụ th&agrave;nh c&aacute;c hạt nhỏ li ti trong lớp kh&ocirc;ng kh&iacute; s&aacute;t mặt
                        đất, l&agrave;m giảm tầm nh&igrave;n ngang xuống dưới 1km. N&oacute; giống như m&acirc;y thấp
                        nhưng kh&aacute;c ở chỗ sương m&ugrave; tiếp x&uacute;c trực tiếp với bề mặt đất, c&ograve;n
                        m&acirc;y thấp kh&ocirc;ng tiếp s&uacute;c với bề mặt đất m&agrave; c&aacute;ch mặt đất một
                        khoảng c&aacute;ch được gọi l&agrave; độ cao ch&acirc;n m&acirc;y. Ch&iacute;nh v&igrave; thế
                        người ta xếp sương m&ugrave; v&agrave;o họ m&acirc;y thấp.</span></span></span></span></span>
    </p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Căn cứ v&agrave;o nguy&ecirc;n nh&acirc;n
                        h&igrave;nh th&agrave;nh, sương m&ugrave; được chia ra c&aacute;c loại kh&aacute;c nhau như:
                    </span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >+ Sương m&ugrave; bức xạ h&igrave;nh
                        th&agrave;nh khi mặt đất lạnh đi, do bức xạ v&agrave;o ban đ&ecirc;m trời quang m&acirc;y, lặng
                        gi&oacute;; + Khi kh&ocirc;ng kh&iacute; ẩm di chuyển ngang qua nơi c&oacute; bề mặt lạnh sẽ bị
                        lạnh đi n&ecirc;n h&igrave;nh th&agrave;nh sương m&ugrave; b&igrave;nh
                        lưu.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >+ Kh&iacute; lạnh di chuyển qua miền c&oacute;
                        mặt nước ấm hơn nhiều th&igrave; hơi nước bốc l&ecirc;n gặp lạnh nhanh ch&oacute;ng ngưng tụ
                        th&agrave;nh sương m&ugrave; bốc hơi. Ngo&agrave;i ra c&ograve;n c&oacute; sương m&ugrave; do
                        mưa, sương m&ugrave; thung lũng, v.v&hellip;</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >M&ugrave; l&agrave; hiện tượng tập hợp
                        c&aacute;c hạt bụi, kh&oacute;i lơ lửng trong kh&ocirc;ng kh&iacute;, l&agrave;m giảm tầm
                        nh&igrave;n ngang. M&ugrave; mạnh c&oacute; thể l&agrave;m giảm tầm nh&igrave;n ngang xuống
                        v&agrave;i trăm m&eacute;t, thậm ch&iacute; h&agrave;ng chục m&eacute;t như sương m&ugrave;
                        mạnh. M&ugrave; thường do nguy&ecirc;n nh&acirc;n địa phương như ch&aacute;y rừng, m&ocirc;i
                        trường &ocirc; nhiễm,&hellip;Sương m&ugrave; v&agrave; m&ugrave; đều l&agrave; hiện tương
                        kh&iacute; tượng nguy hiểm.. Đặc biệt đối với giao th&ocirc;ng vận tải đường bộ, đường
                        s&ocirc;ng, đường biển v&agrave; h&agrave;ng kh&ocirc;ng, h&agrave;ng năm sương m&ugrave;
                        đ&atilde; g&acirc;y ra những trở ngại v&agrave; tổn thất kh&ocirc;ng nhỏ.</span></span></span>
            </></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Sương m&ugrave; ở nước ta thường xảy ra thường
                        xuy&ecirc;n v&agrave;o c&aacute;c th&aacute;ng từ cuối m&ugrave;a thu đến cuối m&ugrave;a
                        xu&acirc;n, nhiều v&agrave; mạnh nhất v&agrave;o c&aacute;c th&aacute;ng m&ugrave;a đ&ocirc;ng.
                        Ng&agrave;y nay m&ocirc;i trường kh&ocirc;ng kh&iacute; c&agrave;ng ng&agrave;y c&agrave;ng
                        &ocirc; nhiễm n&ecirc;n sương m&ugrave; v&agrave; m&ugrave; xảy ra nhiều hơn v&agrave; cường độ
                        mạnh hơn.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.17. Mưa
                        lớn</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Hiện tượng mưa lớn l&agrave; hệ quả của một số
                        loại h&igrave;nh thời tiết đặc biệt như b&atilde;o, &aacute;p thấp nhiệt đới hay dải hội tụ
                        nhiệt đới, front lạnh, đường đứt&hellip; Đặc biệt khi c&oacute; sự kết hợp của ch&uacute;ng sẽ
                        c&agrave;ng nguy hiểm hơn g&acirc;y n&ecirc;n mưa, mưa vừa đến mưa to, trong một thời gian
                        d&agrave;i tr&ecirc;n một phạm vi rộng.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Theo Trung t&acirc;m Dự b&aacute;o Kh&iacute;
                        tượng Thủy văn, căn cứ v&agrave;o lượng mưa thực tế tại c&aacute;c trạm quan trắc kh&iacute;
                        tượng bề mặt, trạm đo mưa trong mạng lưới KTTV m&agrave; ph&acirc;n định c&aacute;c cấp mưa
                        kh&aacute;c nhau.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Mưa lớn được chia l&agrave;m 3
                        cấp:</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >&ndash; Mưa vừa: Lượng mưa đo được từ 16
                        &ndash; 50 mm/24h.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >&ndash; Mưa to: Lượng mưa đo được từ 51 &ndash;
                        100 mm/24h.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >&ndash; Mưa rất to: Lượng mưa đo được &gt; 100
                        mm/24h.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Ng&agrave;y c&oacute; mưa lớn l&agrave;
                        ng&agrave;y xảy ra mưa trong 24 giờ (từ 19 giờ ng&agrave;y h&ocirc;m trước đến 19 giờ
                        ng&agrave;y h&ocirc;m sau) đạt cấp mưa vừa trở l&ecirc;n.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Trong c&aacute;c nghi&ecirc;n cứu về ảnh hưởng
                        của mưa th&igrave; cấp mưa to 51 &ndash; 100 mm/24h bắt đầu c&oacute; những ảnh hưởng ti&ecirc;u
                        cực đến đời sống con người.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.18. Mưa
                        đ&aacute;</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Mưa đ&aacute; l&agrave; hiện tượng mưa dưới
                        dạng hạt hoặc cục băng c&oacute; h&igrave;nh d&aacute;ng v&agrave; k&iacute;ch thước kh&aacute;c
                        nhau do đối lưu cực mạnh từ c&aacute;c đ&aacute;m m&acirc;y d&ocirc;ng g&acirc;y ra. K&iacute;ch
                        thước c&oacute; thể từ 5 mm đến h&agrave;ng chục cm, thường cỡ khoảng một v&agrave;i cm,
                        c&oacute; dạng h&igrave;nh cầu kh&ocirc;ng c&acirc;n đối. Những hạt mưa đ&aacute; thường rơi
                        xuống c&ugrave;ng với mưa r&agrave;o. Mưa đ&aacute; thường kết th&uacute;c rất nhanh trong
                        v&ograve;ng 5 -10 ph&uacute;t, l&acirc;u nhất cho cả một vệt mưa cũng chỉ 20 &ndash; 30
                        ph&uacute;t.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Trong cơn d&ocirc;ng mưa đ&aacute; thường
                        k&egrave;m theo gi&oacute; rất mạnh, c&oacute; khi l&agrave; gi&oacute; lốc k&egrave;m theo mưa
                        đ&aacute;, sức t&agrave;n ph&aacute; hết sức khủng khiếp do gi&oacute; mạnh v&agrave;
                        xo&aacute;y g&acirc;y ra.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Ngo&agrave;i gi&oacute; rất mạnh ra th&igrave;
                        bản th&acirc;n những h&ograve;n mưa đ&aacute; cũng c&oacute; khi g&acirc;y ra đổ nh&agrave;,
                        t&agrave;n ph&aacute; c&acirc;y cối, thậm ch&iacute; chết người. V&igrave; vậy mưa đ&aacute;
                        được xếp v&agrave;o những hiện tượng thời tiết nguy hiểm.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Mưa đ&aacute; thường xảy ra ở v&ugrave;ng
                        n&uacute;i hay khu vực gi&aacute;p biển, gi&aacute;p n&uacute;i (b&aacute;n sơn địa), c&ograve;n
                        v&ugrave;ng đồng bằng &iacute;t xảy ra hơn. V&igrave; vậy ở nước ta mưa đ&aacute; c&oacute; thể
                        xảy ra ở khắp c&aacute;c v&ugrave;ng miền. v&agrave; cả trong m&ugrave;a h&egrave;. Ri&ecirc;ng
                        ở v&ugrave;ng n&uacute;i ph&iacute;a bắc nước ta, từ th&aacute;ng 1 đến th&aacute;ng 5
                        h&agrave;ng năm thường c&oacute; mưa đ&aacute;, nhiều nhất l&agrave; từ th&aacute;ng 3 đến
                        th&aacute;ng 5, m&agrave; nguy&ecirc;n nh&acirc;n chủ yếu l&agrave; c&aacute;c đợt front lạnh
                        cực mạnh tr&agrave;n về nhanh.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Khi chưa nhận được tin dự b&aacute;o mưa
                        đ&aacute; bạn đọc vẫn c&oacute; thể qua hiểu biết m&agrave; tự ph&ograve;ng tr&aacute;nh: Nếu
                        thấy trời nổi d&ocirc;ng gi&oacute;, m&acirc;y đen bao phủ bầu trời gần như k&iacute;n tầm mắt,
                        c&oacute; dạng như bầu v&uacute;, rồi d&ocirc;ng gi&oacute; nổi l&ecirc;n mạnh, tạo ra tiếng
                        &ldquo;&ugrave; &ugrave;, ầm ầm&rdquo; li&ecirc;n tục th&igrave; bạn h&atilde;y cảnh gi&aacute;c
                        với mưa đ&aacute;. Nếu tiếp đ&oacute; lắc rắc v&agrave;i hạt mưa r&agrave;o, ta cảm thấy nhiệt
                        độ kh&ocirc;ng kh&iacute; như lạnh đi, c&oacute; thể mưa đ&aacute; sẽ k&eacute;o đến.
                    </span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >1.20.&nbsp;
                        Lốc.</span></span></span></span></span></p>

    <p style="text-align:justify"><span style="font-size:14pt"><span ><span
                    style="font-size:16.0pt"><span >Lốc l&agrave; những xo&aacute;y trong đ&oacute;
                        gi&oacute; trong ho&agrave;n lưu nhỏ cỡ h&agrave;ng chục, h&agrave;ng trăm m&eacute;t. Lốc
                        xo&aacute;y l&agrave; những xo&aacute;y nhỏ cuốn l&ecirc;n, c&oacute; trục thẳng đứng, thường
                        xảy ra khi kh&iacute; quyển c&oacute; sự nhiễu loạn v&agrave; về cơ bản l&agrave; kh&ocirc;ng
                        thể dự b&aacute;o được. Nguy&ecirc;n nh&acirc;n sinh gi&oacute; lốc l&agrave; những d&ograve;ng
                        kh&iacute; n&oacute;ng bốc l&ecirc;n cao một c&aacute;ch mạnh mẽ. Trong những ng&agrave;y
                        h&egrave; n&oacute;ng nực, mặt đất bị đốt n&oacute;ng kh&ocirc;ng đều nhau, một khoảng
                        n&agrave;o đ&oacute; hấp thụ nhiệt thuận lợi sẽ n&oacute;ng hơn, tạo ra v&ugrave;ng kh&iacute;
                        &aacute;p giảm v&agrave; tạo ra d&ograve;ng thăng. Kh&ocirc;ng kh&iacute; lạnh hơn ở chung quanh
                        tr&agrave;n đến tạo hiện tượng gi&oacute; xo&aacute;y, tương tự như trong cơn b&atilde;o. Tốc độ
                        gi&oacute; của lốc tăng mạnh đột ngột trong một thời gian r&otilde;
                        rệt.</span></span></span></span></span></p>

</div>
