<div class="padding-page">
    <div class="weather-status">
        <div class="weather-status-left">
            <div class="weather-status-left-title">
                CÁC TRẠNG THÁI THỜI TIẾT
            </div>
            <div v-for="(item,index) in weatherStatusPosts" :key="index"
                class="weather-status-left-item" @click="loadContent(item.eventId)">
                <div><v-icon>mdi-square-medium</v-icon> {{item.title}}</div>
            </div>
        </div>
        <div v-html="selectedWeatherStatusContent" class="weather-status-right"></div>
    </div>
    <v-pagination v-model="GET_POST_PAGE" :length="totalPages" :total-visible="TotalPageVisible"
        @input="getPosts"></v-pagination>
</div>