@import "~@/theme/main.scss";
.location-picker {
    background: #000;
    width: 250px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), rgba(121, 120, 120, 0.5);
    color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    &-tab {
        display: flex;
        align-items: center;
        margin: 10px 0;
        text-align: center;
        border: 1px solid;
        cursor: pointer;
        &--region {
            width: 50%;
            border-right: 1px solid;
            padding: 5px;
            &.active {
                background-color: #fff;
                color: #000;
            }
        }
        &--province {
            padding: 5px;
            width: 50%;
            &.active {
                background-color: #fff;
                color: #000;
            }
        }
    }
    &-title {
        font-size: 16px;
        font-weight: 500;
        padding: 0 10px;
        font-weight: 800;
        color: $primary-color;
    }
    &-content {
        padding-right: 5px;
        height: calc(30vh - 40px);
        overflow: auto;
        &--item {
            cursor: pointer;
            padding: 3px 8px;
            font-size: 14px;
            &.active {
                background: $primary-color;
                border-radius: 20px;
            }
        }
        /* width */
        &::-webkit-scrollbar {
            width: 5px;
            position: absolute;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            display: none;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #ddd;
            border-radius: 10px;
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #fff;
        }
    }
}
