.scenario-modal {
    display: flex;
    height: calc(100vh - 64px);
    &-left {
        width: 400px;
        border-right: 1px solid #ddd;
        &--header {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #ddd;
        }
        &--body {
            padding: 20px;
        }
    }
}
