.scenario-modal {
    display: flex;
    height: calc(100vh - 64px);
    &-left {
        width: 400px;
        border-right: 1px solid #ddd;
        &--header {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #ddd;
        }
        &--body {
            padding: 20px;
        }
    }
    &-right {
        padding: 1.5vw;
        flex: 1;
    }

    .v-toolbar--extended {
        height: 64px !important;
        .v-toolbar__content {
            height: 0 !important;
        }
    }

}
.v-card__text {
    padding-top: 20px !important;
}
.blue-background-class {
	background-color: #C8EBFB;
}
.v-list-item__action, .v-list-item__avatar, .v-list-item__icon {
    display: unset;
}
.v-timeline-item {
    cursor: move;
}
