<div>
    <v-dialog v-model="drawer" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-card>
            <v-toolbar dark color="primary">
                <v-btn :loading="buttonLoading" :disabled="buttonLoading" icon dark @click="drawer = false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Kịch bản</v-toolbar-title>
            </v-toolbar>
            <div class="scenario-modal">
                <div class="scenario-modal-left">
                    <div class="scenario-modal-left--header">
                        <v-btn @click="drawer = false">
                            Tạo kịch bản
                        </v-btn>
                    </div>
                    <div class="scenario-modal-left--body">
                        <v-list dense>
                            <v-subheader>Kịch bản</v-subheader>
                            <v-list-item-group mandatory v-model="selectedItem" color="primary">
                                <v-list-item v-for="(item, i) in scenarios" :key="i" @click="selectedItem = i">
                                    <v-list-item-content>
                                        <v-list-item-title v-text="item.name"></v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </div>
                </div>
                <div class="scenario-modal-right">
                    <v-card class="mx-auto">
                        <v-toolbar color="blue" light extended>
                            <template v-slot:extension>
                                <span class="text-h6" style="color: #fff;">{{ContentTitle}}</span>
                                <v-btn fab absolute bottom right @click="handleAddContent">
                                    <v-icon>mdi-plus</v-icon>
                                </v-btn>
                            </template>
                        </v-toolbar>
                        <v-card-text class="py-0">
                            <v-timeline dense id="sortAble-list" v-if="Contents.length > 0">
                                <v-timeline-item small v-for="(item, index) in Contents" :key="generateKey(index)"
                                    color="pink">
                                    <v-row class="pt-1">
                                        <v-col cols="2">
                                            <strong>{{getDuration(item.duration)}}</strong>
                                        </v-col>
                                        <v-col>
                                            <span>{{getAction(item.action)}} </span>
                                            <span v-if="item.action === 'customLocationControl'">-
                                                {{getMethod(item)}}</span>
                                            <span>- <b>{{getData(item)}}</b></span>
                                        </v-col>
                                        <v-col cols="1">
                                            <v-btn color="primary" fab small dark @click="handleEditContent(item, index)">
                                                <v-icon>mdi-pencil</v-icon>
                                            </v-btn>
                                            <v-btn color="red" fab small dark>
                                                <v-icon>mdi-delete</v-icon>
                                            </v-btn>
                                        </v-col>
                                    </v-row>
                                </v-timeline-item>
                            </v-timeline>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn :loading="buttonLoading" :disabled="buttonLoading" color="primary" @click="handlePreview">
                                Xem Kịch Bản
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </div>
            </div>
        </v-card>
    </v-dialog>
    <add-update-content v-model="visibleAddItem" :content="content" @save="updateContent" />
</div>
