<div class="register-page-container">
    <div class="register-page-container-wrapper">
        <div class="register-page-container-wrapper--title">Đăng ký</div>
        <v-form ref="registerForm" v-model="valid" lazy-validation>
            <div>
                <v-text-field placeholder="Tên tài khoản" v-model="userModel.userName" :rules="rules.userName" />
            </div>
            <div style="margin-top: 20px;">
                <v-text-field placeholder="Họ" v-model="userModel.firstName" :rules="rules.firstName" />
            </div>
            <div style="margin-top: 20px;">
                <v-text-field placeholder="Tên" v-model="userModel.lastName" :rules="rules.lastName" />
            </div>
            <div style="margin-top: 20px;">
                <v-text-field placeholder="Email" v-model="userModel.email" :rules="rules.email" />
            </div>
            <div style="margin-top: 20px;">
                <v-text-field placeholder="Mật khẩu" v-model="userModel.password" :rules="rules.password" 
                :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPass ? 'text' : 'password'"
                @click:append="showPass = !showPass"
            />
            </div>
            <div style="margin-top: 20px;">
                <v-text-field type="password" placeholder="Nhập lại mật khẩu" v-model="confirmPassword" :rules="rules.confirmPassword"
                :append-icon="showConfirmPass ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showConfirmPass ? 'text' : 'password'"
                @click:append="showConfirmPass = !showConfirmPass"/>
            </div>
        </v-form>
        <div class="register-page-container-wrapper--btn-register">
            <v-btn @click="handleRegister()" :loading="isLoading" :disabled="isLoading">
                Đăng ký
                <template v-slot:loader>
                    <span class="custom-loader">
                        <v-icon light>mdi-cached</v-icon>
                    </span>
                </template>
            </v-btn>
        </div>
        <div class="register-page-container-wrapper--link">
            <div>Bạn đã có tài khoản?</div>
            <div class="register-page-container-wrapper--link-action" @click="goToLogin()">Đăng nhập</div>
        </div>
    </div>
</div>
