.icon-weather-wrapper {
    position: absolute;
    right: 2vw;
    top: 20%;
    background: #000;
    height: 300px;
    width: 400px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), rgba(121, 120, 120, 0.5);
    img {
        opacity: 1;
        position: absolute;
    }
}
