.base-header-menu {
    float: right;
    margin-top: 26px;
    &-item {
        cursor: pointer;
        transition: $primary-transition;
        float: left;
        margin: 0 0 0 20px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        &.active {
            font-weight: $medium-font-weight;
            border-bottom: 1px solid $primary-color;
        }
        &:hover {
            color: $primary-color;
        }
    }
}
