.qr-code {
    background: #fff;
    &-header {
        background: $primary-color;
        color: #fff;
        padding: 1vw 2vw;
        display: flex;
        font-size: 20px;
        font-weight: $medium-font-weight;
        &--title {
            flex: 1;
        }
    }
    &-body {
        padding: 2vw;
        display: flex;

        &--image {
            flex: 1;
        }
    }

}
