<div class="warning-page-container">
    <base-container class="container">
        <div class="warning-page-container_header"></div>
        <div class="warning-page-container_section-1">
            <div class="warning-page-container_section-1_main" @click="handleViewDetail(firstWarningPost.eventId)">
                <img :src="firstWarningPost.imageUrl">
                <div class="warning-page-container_section-1_main-info">
                    <h4>{{firstWarningPost.title}}</h4>
                    <p>{{firstWarningPost.datePosted}}</p>
                </div>
            </div>
            <div class="warning-page-container_section-1_sub">
                <div v-for="(item,index) in warningPosts" v-if="index >= 1 && index <= 2" :key="index" @click="handleViewDetail(item.eventId)" class="warning-page-container_section-1_sub-item">
                    <img :src="item.imageUrl">
                    <div class="warning-page-container_section-1_sub-item-info">
                        <h4>{{item.title}}</h4>
                        <p>{{item.datePosted}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="warning-page-container_section-2-3_wrapper">
            <div class="warning-page-container_section-2">
                <v-row v-for="(item,index) in warningPosts" v-if="index >= 3 && index <= 7" :key="index" @click="handleViewDetail(item.eventId)" justify="center">
                    <div class="warning-page-container_section-2_item">
                        <v-col cols=4>
                            <img :src="item.imageUrl">
                        </v-col>
                        <v-col cols=8>
                            <div class="warning-page-container_section-2_item-info">
                                <h4>{{item.title}}</h4>
                                <p>{{item.datePosted}}</p>
                            </div>
                        </v-col>
                    </div>
                </v-row>
            </div>
            <div class="warning-page-container_section-3">
                <h4>Tin xem nhiều</h4>
                <div v-for="(item,index) in mostWatchPosts" :key="index" 
                    @click="handleViewDetail(item.eventId)"
                    class="warning-page-container_section-3_item">

                    <div class="warning-page-container_section-3_item--img" :style="`background-image: url( ${item.imageUrl})`"></div>
                    <div class="warning-page-container_section-3_item-info">
                        <h4>{{item.title}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="warning-page-container_footer"></div>
    </base-container>
</div>
