.weather-item {
    display: flex;
    width: 100%;
    padding: 20px 0;
    &.first {
        padding-top: 0;
    }
    &--image {
        width: 100px;
        display: flex;
        align-items: center;
    }
    &--content {
        padding: 0 20px;
        &_title {
            text-transform: uppercase;
            font-weight: 800;
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}
