<div class="cms-community-list-container">
    <div class="base-cms--body_wrapper">
        <div class="base-cms--body_top d-lg-flex align-center">
            <!-- <p class="mr-auto">Bài viết cộng đồng</p> -->
            <div class="mr-auto">
                <template>
                    <v-tabs background-color="transparent" v-model="tab">
                        <v-tab>Bài viết cộng đồng</v-tab>
                        <v-tab>Bình luận</v-tab>
                    </v-tabs>
                </template>
            </div>
            <v-text-field label="Tìm kiếm" append-icon="mdi-magnify" outlined dense hide-details>
            </v-text-field>
        </div>

        <v-tabs-items v-model="tab">
            <v-tab-item>
                <div class="base-cms--body_table">
                    <post-list-tab />
                </div>
            </v-tab-item>

            <v-tab-item>
                <div class="base-cms--body_table">
                    <comment-list-tab />
                </div>
            </v-tab-item>
        </v-tabs-items>
    </div>
</div>
