<div class="edit-local-component">
    <div class="base-cms-right--body_wrapper">
        <div class="base-cms-right--body_top d-flex align-center">
            <p class="mr-auto">Tạo hiện tượng cực đoan</p>
            <v-btn color="" dark @click="handleBack()">
                <v-icon dark left>
                    mdi-chevron-left
                </v-icon>Trở về
            </v-btn>
        </div>
        <v-form ref="postForm" lazy-validation>
            <div class="base-cms-right--body_wrapper_inner">
                <div class="base-cms-right--body_phenomena_left">
                    <div class="base-cms-right--body_phenomena_left--content">
                        <div class="mb-2">Tỉnh</div>
                        <v-select :items="lookupProvince" item-text="name" item-value="id"
                            outlined dense hide-details class="mb-4"
                            v-model="selectedProvince"></v-select>

                        <div class="mb-2">Xã/Huyện</div>
                        <v-select :items="lookupDistrict" item-text="name" item-value="id"
                            outlined dense hide-details class="mb-4"
                            v-model="selectedDistrict"></v-select>

                        <div class="mb-2">Thời gian</div>
                        <v-menu v-model="datePickerMenu" :close-on-content-click="false" :nudge-right="40"
                            transition="scale-transition" offset-y min-width="auto">
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field v-model="formatSelectedDate" append-icon="mdi-calendar-month-outline" hide-details
                                    readonly v-bind="attrs" v-on="on" outlined dense class="mb-4"></v-text-field>
                            </template>
                            <v-date-picker v-model="selectedDate" @input="datePickerMenu = false" locale="vi-vn"
                                @change="handleFilterDate">
                            </v-date-picker>
                        </v-menu>
                    </div>
                    <div class="base-cms-right--body_phenomena_left--footer d-flex justify-end">
                        <v-btn :disabled="!isDetailsChanged" depressed color="primary" @click="handleSave()">Lưu hiện tượng</v-btn>
                    </div>
                </div>

                <div v-if="isListVisible" class="base-cms-right--body_phenomena_right">
                    <div class="base-cms-right--body_phenomena_right--header d-flex align-center">
                        <p>Hiện tượng</p>
                        <v-spacer></v-spacer>
                        <v-btn depressed color="primary" @click="handleAddContent()">+ Tạo mới</v-btn>
                    </div>
                    <div class="base-cms-right--body_table base-cms-right--body_phenomena_right--content">
                        <template>
                            <v-simple-table fixed-header dense>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th class="base-cms-right--body_table_header" width="200px">TÊN</th>
                                            <th class="base-cms-right--body_table_header">NỘI DUNG</th>
                                            <th class="base-cms-right--body_table_header"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="coList.length === 0">
                                            <td colspan="5" style="text-align: center; height: 70px;">Chưa có dữ liệu</td>
                                        </tr>
                                        <tr v-else v-for="(item, index) in coList" :key="index">
                                            <td style="vertical-align: top;">
                                                <div class="base-cms-right--body_table_title">{{ item.name }}</div>
                                            </td>
                                            <td>
                                                <div class="base-cms-right--body_table_title">{{ item.content }}</div>
                                            </td>
                                            <td class="base-cms-right--body_table_action">
                                                <div style="padding: 10px 0;">
                                                    <v-icon @click.native="handleEditContent(index)" class="edit-action">mdi-square-edit-outline</v-icon>
                                                    <v-icon @click.native="handleDeleteContent(index)" class="delete-action">mdi-delete</v-icon>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </template>
                    </div>
                </div>
            </div>
        </v-form>
        <loading :is-loading="isLoading" absolute/>
    </div>
    <v-dialog v-model="isDisplayDialog" persistent max-width="700">
		<div class="base-cms-dialog">
            <div class="base-cms-dialog-header d-flex align-center">
                <p class="mr-auto">{{ currentRowIndex === -1 ? 'Tạo hiện tượng': 'Chỉnh sửa hiện tượng'}}</p>
                <div class="base-cms-dialog-header--action">
                    <v-btn @click="isDisplayDialog = false" icon color="#C5C5C5">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </div>
            </div>
            <div class="base-cms-dialog-body">
				<div class="mb-1">Tên</div>
                <v-text-field :rules="rules.title" v-model="currentRow.name" outlined dense  hide-details class="mb-4"></v-text-field>
				<div class="mb-1">Nội dung</div>
                <v-textarea
                    outlined
                    rows="6"
                    row-height="30"
                    v-model="currentRow.content"
                    class="mb-4"
              ></v-textarea>
				<div class="base-cms-dialog-body--action d-flex justify-end">
					<v-btn
                        color="#C5C5C5"
                        depressed
                        large
                        outlined 
                        @click="isDisplayDialog = false"
                        class="mr-4 btn-cancel">Hủy</v-btn>
					<v-btn depressed
                        large
                        @click="addContent()" color="primary">{{ currentRowIndex === -1 ? 'Tạo': 'Lưu'}}</v-btn>
				</div>
            </div>
        </div>
	</v-dialog>

    <v-dialog v-model="visibleConfirm" persistent max-width="400">
        <v-card>
            <v-card-title class="text-h5">Bạn có muốn lưu thay đổi?</v-card-title>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn width="100px" text class="mr-1" outlined depressed @click="switchData()"
                >
                    Bỏ qua
                </v-btn>
                <v-btn width="100px" text outlined depressed color="error" @click="switchData(true)"
                >
                    Lưu
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>

