<div class="edit-local-component">
    <div class="base-cms-right--body_wrapper">
        <div class="base-cms-right--body_top d-flex align-center">
            <p class="mr-auto">Tạo hiện tượng cực đoan</p>
            <v-btn color="" dark @click="handleBack()">
                <v-icon dark left>
                    mdi-arrow-left
                </v-icon>Trở về
            </v-btn>
        </div>
        <v-form ref="postForm" lazy-validation>
            <div class="base-cms-right--body_wrapper_inner">
                <div class="base-cms-right--body_phenomena_left">
                    <div class="base-cms-right--body_phenomena_left--header d-flex align-center">
                        <p>Hiện tượng</p>
                        <v-spacer></v-spacer>
                        <v-btn depressed color="primary" @click="handleAddContent()">+ Tạo mới</v-btn>
                    </div>
                    <div class="base-cms-right--body_table base-cms-right--body_phenomena_left--content">
                        <template>
                            <v-simple-table fixed-header height="calc(100vh - 500px)">
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th class="base-cms-right--body_table_header">TÊN</th>
                                            <th class="base-cms-right--body_table_header">NỘI DUNG</th>
                                            <th class="base-cms-right--body_table_header"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="coList.length === 0">
                                            <td colspan="5" style="text-align: center;">Không có dữ liệu</td>
                                        </tr>
                                        <tr v-else v-for="(item, index) in coList" :key="index">
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.content }}</td>
                                            <td class="base-cms-right--body_table_action">
                                                <v-icon @click.native="handleEditContent(item.id)" class="edit-action">mdi-square-edit-outline</v-icon>
                                                <v-icon @click.native="handleDeleteContent(item.id)" class="delete-action">mdi-delete</v-icon>
                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </template>
                    </div>
                </div>

                <div class="base-cms-right--body_phenomena_right">
                    <div class="base-cms-right--body_phenomena_right--content">
                        <div class="mb-2">Tỉnh</div>
                        <v-select :items="lookupProvince" item-text="name" item-value="id"
                            outlined dense hide-details class="mb-4"
                            v-model="selectedProvince"></v-select>

                        <div class="mb-2">Xã/Huyện</div>
                        <v-select :items="lookupDistrict" item-text="name" item-value="id"
                            outlined dense hide-details class="mb-4"
                            v-model="selectedDistrict"></v-select>

                        <div class="mb-2">Thời gian</div>
                        <v-menu v-model="selectedDate" :close-on-content-click="false" :nudge-right="40"
                            transition="scale-transition" offset-y min-width="auto">
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field v-model="formatSelectedDate" append-icon="mdi-calendar-month-outline" hide-details
                                    readonly v-bind="attrs" v-on="on" outlined dense class="mb-4"></v-text-field>
                            </template>
                            <v-date-picker v-model="selectedDate" @input="selectedDate = false" locale="vi-vn"
                                @change="handleFilterDate">
                            </v-date-picker>
                        </v-menu>
                    </div>
                    <div class="base-cms-right--body_phenomena_right--footer d-flex justify-end">
                        <v-btn depressed color="primary" @click="handleSave()">Lưu hiện tượng</v-btn>
                    </div>
                </div>
            </div>
        </v-form>
        <loading :is-loading="isLoading" absolute/>
    </div>
</div>

