.list-document-container {
    .base-cms-right--body {
        &_wrapper {
            height: calc(100vh - 200px)
        }
        &_top {
            margin-bottom: 20px;
            // title
            > p {
                font-size: 23px;
                flex: 1;
                margin: 0;
                white-space: normal
            }

            // search input
            .v-input {
                width: 300px;
                flex: unset;
            }

            &-item-tab {
                transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
                cursor: pointer;
                border-bottom: 2px solid transparent;
                color: rgba(0,0,0,.54);
                font-weight: 550;

                &.active, &:hover {
                    color: rgba(0,0,0, 1);
                }

                &.active {
                    border-color: $primary-color;
                }
            }
        }

        &_table {
            background-color: #fff;
     
            &_header {
                font-size: 14px;
                color: #949494;
                white-space: nowrap;
                &_checkbox {
                    align-items: center;
                    > div {
                        height: 100%;
                        .v-input__control {
                            width: 0px !important;
                        }
                    }
                }
            }
            &_checkbox {
                display: flex;
                align-items: center;
                height: 71px !important;
                .v-input--selection-controls {
                    margin-top: 0;
                    padding-top: 0;
                }
                > div {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    .v-input__control {
                        width: 0px !important;
                    }
                    .v-input__slot {
                        width: 0px !important;
                    }
                }
            }
            &_title {
                display: flex;
                align-items: center;
                padding: 10px 0;
                font-weight: 600;
                cursor: pointer;
                img {
                    margin-right: 20px;
                    width: 50px;
                    height: 50px;
                    border-radius: 4px;
                }
                > span {
                    text-decoration: underline;
                }
            }

            &_action {
                white-space: nowrap;
                font-size: 14px !important;
                cursor: pointer;
                text-align: center;
            }
            .delete-action {
                color: #D50000;
            }
            .edit-action {
                color: #2196f3;
            }
            &_footer_page_num {
                display: flex;
                align-items: center;
                padding: 0 20px;
                &_limit {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}
