.edit-post-container {
    .base-cms-right--body {
        &_wrapper_inner {
            display: flex;
            justify-content: space-between;
        }
    
        &_top {
            margin-bottom: 20px;

            > p {
                font-size: 23px;
                margin: 0;
                white-space: normal
            }
        }
    
        &_left {
            order: 1;
            flex: 0 0 calc(70% - 30px);

            &_title {
                background-color: #fff;
            }
        
            &_editor {
                margin-top: 20px;
                background-color: #fff;

                .ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
                    overflow-x: hidden;
                    overflow-y: hidden;
                    flex-wrap: wrap;
                }
                .ck-content {
                    height: 300px;
                    min-height: calc(100vh - 460px);
                    overflow-y: auto;
                }
            }

            &_action {
                margin-top: 20px;
                float: right;
            }
        }
    
        &_setting {
            background-color: #fff;
            padding: 20px;
            order: 2;
            flex: 0 0 30%;
            margin-left: 20px;
            .progress-bar {
                height: 100px;
                width: 100px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            button {
                float: right;
            }
            &--upload {
                display: flex;
                img {
                    width: 130px;
                }
                &_btn {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
