.edit-document-container {
    .base-cms-right--body {
        &_wrapper_inner {
            display: flex;
            justify-content: space-between;
        }
    
        &_top {
            margin-bottom: 20px;

            > p {
                font-size: 23px;
                margin: 0;
                white-space: normal
            }
        }
        
        &_left {
            order: 1;
            flex: 0 0 calc(70% - 30px);

            &_title {
                background-color: #fff;
            }
        
            &_editor {
                margin-top: 20px;
                background-color: #fff;

                .ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
                    overflow-x: hidden;
                    overflow-y: hidden;
                    flex-wrap: wrap;
                }
                .ck-content {
                    min-height: 150px;
                    max-height: calc(100vh - 700px);
                    overflow-y: auto;
                }
            }
        
            &_browse {
                margin-top: 20px;
                background-color: #fff;
            }
        }
    
        &_table {
            &_header {
                font-size: 14px !important;
                color: #949494 !important;
                white-space: nowrap;
                background-color: #F3F3F3 !important;
                height: 40px !important;
            }
            &_title {
                display: flex;
                align-items: center;
                padding: 10px 0;
                font-weight: 600;
                img {
                    margin-right: 20px;
                    width: 20px;
                    height: 20px;
                    border-radius: 4px;
                }
                div {
                    cursor: pointer;
                    color: #2196f3;
                }
            }
    
            &_action {
                white-space: nowrap;
                font-size: 14px !important;
                cursor: pointer;
                text-align: center;
            }
            .delete-action {
                color: #D50000;
            }
            .download-action {
                color: #2196f3;
            }
        }
    
        &_setting {
            background-color: #fff;
            order: 2;
            flex: 0 0 30%;
            height: 180px;

            button {
                float: right;
            }
        }
    }
}

.VueCarousel-wrapper {
    .VueCarousel-slide {
        padding: 10px;

        position: relative;
        @media all and (min-width: 320px) and (max-width: 1200px) {
            display: none;
        }
        &-prev-btn {
            position: absolute;
            top: 115px;
            left: -50px;
        }
        &-next-btn {
            position: absolute;
            top: 115px;
            right: -50px;
        }
        .VueCarousel-wrapper {
            .VueCarousel-slide {
                padding: 10px;
            }
        }

        position: relative;
    }
    .box-overview {
        background: #fff;
        padding: 10px;
        .content-overview {
            padding: 20px;
            overflow: auto;
            height: 578px;
            /* width */
            &::-webkit-scrollbar {
                width: 5px;
                position: absolute;
            }
            /* Track */
            &::-webkit-scrollbar-track {
                display: none;
            }
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #666;
                border-radius: 10px;
            }
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #666;
            }
        }
    }
}