.social-comment {
    padding: 10px 20px;
    &-input {
        display: flex;
        &-text {
            margin-left: 20px;
            width: 100%;
            .v-input__slot {
                margin: 0;
            }
            .v-text-field__details {
                display: none;
            }
            .v-text-field > .v-input__control > .v-input__slot:after, .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
                border: none;
            }

            position: relative;

            &--emoticon {
                position: absolute;
                right: 5px;
                top: 5px;
                z-index: 1;
            }
        }
    }
    &-list {
        margin-top: 20px;
        > div {
            margin-bottom: 10px;
        }
        &--item {
            display: flex;
            &:last-child {
                margin-bottom: 0;
            }
            &_text {
                margin-left: 20px;
                &__header {
                    display: flex;
                    &--name {
                        font-weight: 600;
                        margin-right: 20px;
                    }
                    &--time {
                        color: #A4A4A4;
                    }
                }
                &__body { 
                    span {
                        font-weight: 500;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            &_reply {
                display: flex;
                font-size: 14px;
                align-items: center;
                color: #A4A4A4;
                > div {
                    margin: 5px;
                    cursor: pointer;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &-more {
        display: flex;
        margin-top: 20px;
        font-weight: 500;
        > div {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}