.social-comment {
    padding: 10px 20px;
    &-input {
        display: flex;
        &-text {
            margin-left: 20px;
            width: 100%;
            .v-input__slot {
                margin: 0;
            }
            .v-text-field__details {
                display: none;
            }
            .v-text-field > .v-input__control > .v-input__slot:after, .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
                border: none;
            }

            position: relative;

            &--emoticon {
                position: absolute;
                right: 5px;
                top: 5px;
                z-index: 1;
            }
        }
        &-avatar {
            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
        }
    }
    &-list {
        margin-top: 20px;
        > div {
            margin-bottom: 10px;
        }
        &--item {
            display: flex;
            &:last-child {
                margin-bottom: 0;
            }
            &_text {
                flex: 1;
                margin-left: 20px;
                > div:first-child {
                    background: #dddddd82;
                    padding: 10px;
                    border-radius: 15px;
                    position: relative;
                }
                &__header {
                    display: flex;
                    &--name {
                        font-weight: 600;
                        margin-right: 20px;
                    }
                    &--time {
                        color: #A4A4A4;
                    }
                }
                &__body { 
                    span {
                        font-weight: 500;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                &__reaction {
                    position: absolute;
                    right: 20px;
                    bottom: -10px;
                }
            }
            &_reply {
                display: flex;
                font-size: 14px;
                align-items: center;
                color: #A4A4A4;
                > div {
                    cursor: pointer;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
                > span {
                    margin-right: 10px;
                }
            }
            &_sub {
                width: 100%;
            }
        }
    }
    &-more {
        display: flex;
        margin-top: 20px;
        font-weight: 500;
        > div {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &-loading {
        position: relative;
        height: 50px;
    }
}