<div class="social-comment">
    <div class="social-comment-input">
        <div class="social-comment-input-avatar">
            <v-avatar :color="getColor('CN')" size="50">
                <span class="white--text">CN</span>
            </v-avatar>
        </div>
        <div class="social-comment-input-text">
            <v-menu
                bottom
                origin="center center"
                transition="scale-transition"
                :close-on-content-click="false"
            >
                <template v-slot:activator="{ on, attrs }">
                    <div class="social-comment-input-text--emoticon" v-ripple
                        v-bind="attrs"
                        v-on="on">
                        <v-icon color="blue-grey darken-2">mdi-emoticon-happy-outline</v-icon>
                    </div>
                </template>
                <emoji-picker @insert-emoji="handleClickOnEmoji" />
            </v-menu>
            <v-textarea ref="commentTextarea" filled auto-grow label="Viết bình luận..." rows="1" row-height="16" v-model="newComment"></v-textarea>
        </div>
    </div>
    <div class="social-comment-list">
        <div class="social-comment-list--item">
            <div class="social-comment-list--item_avatar">
                <v-avatar :color="getColor('TR')" size="50">
                    <span class="white--text">TR</span>
                </v-avatar>
            </div>
            <div class="social-comment-list--item_text">
                <div class="social-comment-list--item_text__header">
                    <div class="social-comment-list--item_text__header--name">The Rock</div>
                    <div class="social-comment-list--item_text__header--time">28 thg 8, 2020</div>
                </div>
                <div class="social-comment-list--item_text__body">
                    {{renderText(`Bài viết rất bổ ích, cảm ơn bạn cho mình thông tin Bài viết rất bổ ích, cảm ơn bạn cho mình thông tin Bài viết rất bổ
                    ích, cảm ơn bạn cho mình thông tin Bài viết rất bổ ích, cảm ơn bạn cho mình thông tin Bài viết rất bổ ích, cảm ơn bạn
                    cho mình thông tin`)}}
                    <span>Xem thêm</span>
                </div>
            </div>
        </div>
        <div class="social-comment-list--item">
            <div class="social-comment-list--item_avatar">
                <v-avatar :color="getColor('JC')" size="50">
                    <span class="white--text">JC</span>
                </v-avatar>
            </div>
            <div class="social-comment-list--item_text">
                <div class="social-comment-list--item_text__header">
                    <div class="social-comment-list--item_text__header--name">John Cena</div>
                    <div class="social-comment-list--item_text__header--time">28 thg 8, 2020</div>
                </div>
                <div class="social-comment-list--item_text__body">
                    {{renderText(`Bài viết rất bổ ích, cảm ơn bạn cho mình thông tin`)}}
                </div>
            </div>
        </div>
        <div class="social-comment-list--item">
            <div class="social-comment-list--item_avatar">
                <v-avatar :color="getColor('NC')" size="50">
                    <span class="white--text">NC</span>
                </v-avatar>
            </div>
            <div class="social-comment-list--item_text">
                <div class="social-comment-list--item_text__header">
                    <div class="social-comment-list--item_text__header--name">Chuck Norris</div>
                    <div class="social-comment-list--item_text__header--time">28 thg 8, 2020</div>
                </div>
                <div class="social-comment-list--item_text__body">
                    {{renderText(`Bài viết rất bổ ích, cảm ơn bạn cho mình thông tin`)}}
                </div>
            </div>
        </div>
    </div>
</div>