<div v-if="Medias" class="social-media-layout-5">
    <template v-if="index < 4" v-for="(item, index) in Medias">
        <div v-if="item.type === 'image'" @click="handlePreview(index)" v-ripple>
            <v-img :src="item.url" aspect-ratio="1" class="grey lighten-2" height="250">
                <template v-slot:placeholder>
                    <v-row class="fill-height ma-0" align="center" justify="center">
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-row>
                </template>
            </v-img>
            <div v-if="index === 3" class="social-media-layout-5-last" @click="handlePreview(3)">
                <div>
                    + {{Medias.length - 4}}
                </div>
            </div>
        </div>
        <div v-else v-ripple class="social-media-video">
            <v-img src="https://weatherstoragevn.blob.core.windows.net/static-photo/video.jpg" aspect-ratio="1" height="250"
                class="grey lighten-2" contain style="flex: unset" @click="handlePreview(index)">
                <template v-slot:placeholder>
                    <v-row class="fill-height ma-0" align="center" justify="center">
                        <v-progress-circular indeterminate color="grey lighten-5">
                        </v-progress-circular>
                    </v-row>
                </template>
            </v-img>
            <div v-if="index === 3" class="social-media-layout-5-last"  @click="handlePreview(3)">
                <div>
                    + {{Medias.length - 4}}
                </div>
            </div>
        </div>
        
    </template>
</div>