<div v-if="Medias" class="social-media">
    <div v-if="Medias[0].type === 'image'" @click="handlePreview(0)" v-ripple>
        <v-img :src="Medias[0].url" aspect-ratio="1" class="grey lighten-2" height="500">
            <template v-slot:placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                </v-row>
            </template>
        </v-img>
    </div>
    <div v-else v-ripple class="social-media-video">
        <video ref="player" :id="`player-${postId}`" class="azuremediaplayer amp-default-skin" controls @click="handlePreview(0)" width="640" height="400">
            <source :src="Medias[0].url" type="application/vnd.ms-sstr+xml"
                data-setup='{"streamingFormats": ["SMOOTH", "HLS","HLS-V3", "HLS-V4"] }' />
            <p class="amp-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
            </p>
        </video>
    </div>
</div>