.cms-menu {
    padding: 0 30px;
    &--item {
        padding: 10px 30px;
        color: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;
        &.active {
            background: #111850;
            font-weight: 600;
            border-radius: 6px;
        }
        i {
            margin-right: 10px;
        }
    }
}
