.cms-menu {
    padding: 0 15px;
    min-height: 450px;
    max-height: calc(100vh - 170px);
    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
        position: absolute;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        display: none;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 10px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }

    &--item {
        padding: 10px;
        color: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all;
        &.active, &:hover {
            background:rgba(255,255,255,0.1);
            border-radius: 6px;
            i {
                color: #2196f3 ;
            }
        }
        i {
            margin-right: 10px;
        }
    }
}
