<div class="create-status">
    <div class="create-status-container">
        <div class="create-status-container_header">
            Đăng bài
        </div>
        <div class="create-status-container_body">
            <v-textarea ref="createTextarea" filled dense flat auto-grow label="Viết trạng thái" rows="2" row-height="30" v-model="content" hide-details></v-textarea>
            <div style="position: relative;">
                <media-layout editable :images="selectedPhotos" :videos="selectedPVideos" @preview="handlePreview" />
                <v-icon v-if="selectedPhotos.length > 0 || selectedPVideos.length > 0"
                    color="blue-grey" large
                    class="create-status-container_body-remove-all-media"
                    @click.native="removeAllMedia"
                >mdi-close-circle</v-icon>
            </div>
        </div>
        <div class="create-status-container_footer">
            <div class="create-status-container_footer__attach">
                <div class="create-status-container_footer__attach--item" v-ripple @click="handleClickBrowsePhoto">
                    <v-icon color="green darken-2">
                        mdi-image
                    </v-icon>
                    Hình ảnh
                </div>
                <input ref="uploadPhoto" type="file" accept="image/*"
                    @change="onChangePhotos($event.target.files)" hidden multiple
                />
                <div class="create-status-container_footer__attach--item" v-ripple @click="handleClickBrowseVideo">
                    <v-icon color="red darken-2">
                        mdi-video-box
                    </v-icon>
                    Video
                </div>
                <input ref="uploadVideo" type="file" accept="video/*"
                    @change="onChangeVideos($event.target.files)" hidden multiple
                />
                <v-menu
                    bottom
                    origin="center center"
                    transition="scale-transition"
                    :close-on-content-click="false"
                >
                    <template v-slot:activator="{ on, attrs }">
                        <div class="create-status-container_footer__attach--item" v-ripple
                            v-bind="attrs"
                            v-on="on">
                            <v-icon color="yellow darken-2">
                                mdi-emoticon-happy-outline
                            </v-icon>
                            Biểu tượng
                        </div>
                    </template>
                    <emoji-picker @insert-emoji="handleClickOnEmoji" />
                </v-menu>
                
            </div>
            <div class="create-status-container_footer__action">
                <v-btn color="primary" depressed @click="handlePost">
                    Đăng bài
                </v-btn>
            </div>
        </div>
    </div>
    <preview-image :data="selectedItem" :is-visible.sync="isPreivew" :current="selectedIndex"/>
</div>