.time-page-container {
    background-image: url(/static/img/time-page/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;

    &_section_1 {
        background: linear-gradient(rgba(0, 114, 255, 0.3), rgba(0, 43, 255, 0.46)), rgba(0, 0, 0, 0.22);
        border-radius: 25px;
        margin-bottom: 40px;
        color: #fff;

        h2 {
            padding: 16px 30px;
            border-bottom: 1px solid rgba(255,255,255,0.5);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-size: 18px;
        }
        .li-tab {
            display: flex;
            @media all and (min-width: 320px) and (max-width: 900px) {
                overflow: auto;
                .row {
                    display: block;
                    flex: none;
                    .col-3 {
                        width: 260px;
                        float: left;
                        flex: none;
                    }
                    .col-9 {
                        width: 800px;
                        float: left;
                        flex: none;
                    }
                }

            }
        }
        &_content {
            padding: 30px;
        }
        &_wrapper {
            border-left: 1px solid #fff;
        }

        &_main {
            margin: 20px 50px;
            color: #fff;
            display: flex;

            &--current {
                flex-basis: 75%;

                &_day {
                    text-transform: capitalize;
                    font-weight: bold;
                }

                &_temp {
                    &_left {
                        font-size: 50px;
                        float: left;
                        transform: translateY(50%);
                    }

                    &_right {
                        img {
                            margin: 20px;
                            width: 40%;
                        }
                    }
                }
            }

            &--next {
                margin: 0px 25px;

                &_day {
                    text-transform: capitalize;
                    font-weight: bold;
                    text-align: center;
                }

                &_icon {
                    img {
                        margin: 20px auto;
                        display: block;
                        width: 100%;
                    }

                }

                &_temp {
                    text-align: center;
                    font-size: 25px;
                }

                &_precip {
                    text-align: center;
                }

                &_wind {
                    text-align: center;
                }

                &_humid {
                    text-align: center;
                }
            }

            &--divider {
                border-left: 3px solid white;
                height: 250px;
                margin-left: 15px;
            }
        }
    }

    &_section_2 {
        background: linear-gradient(rgba(0, 114, 255, 0.3), rgba(0, 43, 255, 0.46)), rgba(0, 0, 0, 0.22);
        border-radius: 25px;

        &_main {
            margin: 20px 50px;
            color: #fff;
            overflow: auto;
            &--title {
                font-weight: bold;
            }

            &--time {
                margin-top: 20px;
                white-space: nowrap;
                overflow: auto;
                padding-bottom: 15px;
                /* width */
                &::-webkit-scrollbar {
                    width: 5px;
                    position: absolute;
                    height: 5px;
                }
                /* Track */
                &::-webkit-scrollbar-track {
                    display: none;
                }
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #ddd;
                    border-radius: 10px;
                }
                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #fff;
                }
                &_detail {
                    display: inline-block;
                    width: 100px;
                    border-left: 1px solid #fff;
                    &_hour {
                        text-align: center;
                    }
                    &_icon {
                        img {
                            margin: 20px auto;
                            display: block;
                            width: 50%;
                        }
                    }
                    &_temp {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 10px;
                    }
                    &_precip {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 10px;
                    }
                    &_wind {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 10px;
                    }
                    &_humid {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}
