<div class="time-page-container">
    <base-container class="container padding-main">
        <div class="time-page-container_section_1">
            <h2>Dự báo thời tiết - {{currentPosition}} - {{currentDate}}</h2>
            <div class="time-page-container_section_1_content">
                <div class="tabs">
                    <div class="item-tab" :class="activeTab === 1 ? 'active' : ''" @click="handleChangeTab(1)">
                        5 ngày trong tuần</div>
                    <div class="item-tab" :class="activeTab === 2 ? 'active' : ''" @click="handleChangeTab(2)">
                        24 H/ngày</div>
                </div>
                <div class="content-tab">
                    <div class="li-tab" v-if="activeTab === 1">
                        <v-row justify="center">
                            <v-col cols=3>
                                <div class="time-page-container_section_1_main--current">
                                    <div class="time-page-container_section_1_main--current_day">
                                        Hôm nay {{currentDay}}
                                    </div>
                                    <div class="time-page-container_section_1_main--current_temp">
                                        <div class="time-page-container_section_1_main--current_temp_left">
                                            {{currentTemp}}°C
                                        </div>
                                        <div class="time-page-container_section_1_main--current_temp_right">
                                            <img :src="currentIcon">
                                        </div>
                                    </div>
                                    <div class="time-page-container_section_1_main--current_info">
                                        Nhiệt độ thấp nhất: {{currentDayMinTemp}}°C
                                        <br>
                                        Nhiệt độ cao nhất: {{currentDayMaxTemp}}°C
                                        <br>
                                        Lượng mưa: {{currentDayMinPrecip}} - {{currentDayMaxPrecip}} mm
                                        <br>
                                        Cấp gió: {{currentDayMinWindLvl}} - {{currentDayMaxWindLvl}}
                                        <br>
                                        Độ ẩm: {{currentDayMinHumid}}% - {{currentDayMaxHumid}}%
                                    </div>
                                </div>
                            </v-col>
                            <v-col cols=9>
                                <div class="flex-row">
                                    <div class="time-page-container_section_1_wrapper"
                                        v-for="(item,index) in weatherByDay" :key="index">
                                        <div class="time-page-container_section_1_main--next">
                                            <div class="time-page-container_section_1_main--next_day">
                                                {{item.day}}
                                            </div>
                                            <div class="time-page-container_section_1_main--next_icon">
                                                <img :src="item.imageUrl">
                                            </div>
                                            <div class="time-page-container_section_1_main--next_temp">
                                                {{item.temp}}
                                            </div>
                                            <div class="time-page-container_section_1_main--next_precip">
                                                Lượng mưa: {{item.precip}}
                                            </div>
                                            <div class="time-page-container_section_1_main--next_wind">
                                                Cấp gió: {{item.windLvl}}
                                            </div>
                                            <div class="time-page-container_section_1_main--next_humid">
                                                Độ ẩm: {{item.humid}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </v-col>
                        </v-row>
                    </div>

                    <div class="li-tab" v-if="activeTab === 2">
                        <div class="time-page-container_section_2_main--time">
                            <div class="time-page-container_section_2_main--time_detail"
                                v-for="(item,index) in weatherByTime" :key="index">
                                <div class="time-page-container_section_2_main--time_detail_hour">
                                    {{item.date}}
                                    <br>
                                    {{item.time}}
                                </div>
                                <div class="time-page-container_section_2_main--time_detail_icon">
                                    <img :src="item.imageUrl">
                                </div>
                                <div class="time-page-container_section_2_main--time_detail_temp">
                                    <v-icon color="#fff">mdi-thermometer</v-icon> {{item.temp}}°C
                                </div>
                                <div class="time-page-container_section_2_main--time_detail_precip">
                                    <v-icon color="#fff">mdi-weather-rainy</v-icon> {{item.precip}} mm
                                </div>
                                <div class="time-page-container_section_2_main--time_detail_wind">
                                    <v-icon color="#fff">mdi-weather-windy</v-icon> Cấp {{item.windLvl}}
                                </div>
                                <div class="time-page-container_section_2_main--time_detail_humid">
                                    <v-icon color="#fff">mdi-water-percent</v-icon> {{item.humid}}%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </base-container>
</div>
