.base-cms-right--body {
    &_wrapper_inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &_top {
        p {
            font-size: 30px;
        }
    }

    &_title {
        background-color: #fff;
        padding: 20px;
        order: 1;
        flex: 0 0 65%;
    }

    &_editor {
        background-color: #fff;
        padding: 20px;
        order: 3;
        flex: 0 0 65%;
    }

    &_setting {
        background-color: #fff;
        padding: 20px;
        order: 2;
        flex: 0 0 30%;
        margin-left: 20px;

        button {
            float: right;
        }
    }
}
