<div class="create-post-container">
    <div class="base-cms-right--body_wrapper">
        <div class="base-cms-right--body_top d-flex align-center">
            <p class="mr-auto">Tạo tin mới</p>
            <v-btn class="ma-2" color="" dark @click="handleBack()">
                <v-icon dark left>
                    mdi-chevron-left
                </v-icon>Trở về
            </v-btn>
        </div>
        <v-form ref="postForm" v-model="valid" lazy-validation>
            <div class="base-cms-right--body_wrapper_inner">
                <div class="base-cms-right--body_left">
                    <div class="base-cms-right--body_left_title pa-5">
                        <div class="mb-2">Tiêu đề</div>
                        <v-text-field outlined dense :rules="rules.title" v-model="postModel.title"></v-text-field>
                    </div>
                    
                    <div v-if="!isShownTextBox" class="base-cms-right--body_left_editor pa-5">
                        <div class="mb-2">Nội dung</div>
                        <div style="width: 100%">
                            <custom-ckeditor ref="ckEditor" :rules="rules.title" v-model="postModel.content"/>
                        </div>
                    </div>

                    <div v-if="isShownTextBox" class="base-cms-right--body_left_editor pa-5">
                        <div class="mb-2">Link YouTube</div>
                        <v-text-field outlined dense :rules="rules.title" v-model="postModel.content"></v-text-field>
                        <iframe v-if="YouTubeVideoId" width="560" height="315" :src="YouTubeVideoId"
                            title="YouTube video player" frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                    <div v-if="isShownButton" class="base-cms-right--body_left_action pa-5">
                        <v-btn depressed color="primary" @click="createPost()">Lưu tin</v-btn>
                    </div>
                </div>
    
                <div v-if="!isShownButton" class="base-cms-right--body_setting pa-5">
                    <div v-if="isShownUpload" class="base-cms-right--body_setting--upload">
                        <div style="position: relative;">
                            <div class="mb-2">Hình ảnh</div>
                            <img :src="uploadedDocs" />
                            <v-progress-circular v-if="progress > 0" class="progress-bar" :rotate="-90" :size="100"
                                :width="15" :value="progress" color="primary">
                                {{ progress }}
                            </v-progress-circular>
                        </div>
                        <div class="base-cms-right--body_setting--upload_btn">
                            <input ref="upload" type="file" @change="onChangeDocuments($event.target.files)" title="" hidden
                                accept="image/*" />
                            <v-btn elevation="2" @click="handleClickBrowse">Upload</v-btn>
                        </div>
                    </div>
                    <div class="mb-2">Trạng thái</div>
                    <v-select :items="status" item-text="name" item-value="statusId" outlined dense :rules="rules.statusRules"
                        v-model="postModel.statusId"></v-select>
                    <div class="mb-2">Danh mục</div>
                    <v-select :items="category" item-text="name" item-value="categoryId" outlined dense :rules="rules.categoryRules"
                        v-model="postModel.categoryId" readonly></v-select>
                    <v-btn depressed color="primary" @click="createPost()">Lưu tin</v-btn>
                </div>
            </div>
        </v-form>
        <loading :is-loading="isLoading" absolute/>
    </div>
</div>
