.base-container-header {
    position: sticky;
    top: 0;
    background: #fff;
    > div {
        display: flex;
        margin: auto;
        justify-content: space-between;
        padding: 20px 0;
        max-width: $container-width-xl;
    }
    &-logo {
        margin-right: 400px;
        display: flex;
        align-items: center;
        img {
            max-width: 300px;
        }
    }
}
