<div class="social-list">
    <div class="social-list--item" v-for="(item,index) in socialPost" :key="index">
        <div class="social-list--item_header">
            <div class="social-list--item_header--avatar">
                <v-avatar :color="getColor(item.creatorShortName)" size="50">
                    <span class="white--text">{{item.creatorShortName}}</span>
                </v-avatar>
            </div>
            <div class="social-list--item_header--content">
                <div class="social-list--item_header--content__title">{{item.creatorFullName}}</div>
                <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                        <span v-bind="attrs" v-on="on" class="social-list--item_header--content__time">{{$calculateRelativeTime(item.createDate)}}</span>
                    </template>
                    <span>{{$formatDateTime(item.createDate)}}</span>
                </v-tooltip>
            </div>
        </div>
        <div class="social-list--item_body">
            <div class="social-list--item_body--content">
                <div class="social-list--item_body--content_status">
                    <div class="social-list--item_body--content_status__text">
                        {{$displayContent(item.content)}}
                    </div>
                    <div v-if="item.content.length >= 255" class="social-list--item_body--content_status__button">
                        <div @click="toggleContent($event.target, item)" v-ripple>
                            Đọc thêm
                        </div>
                    </div>
                </div>
                <div v-if="item.listImageUrl.length > 0 || item.listVideoUrl.length > 0"
                    class="social-list--item_body--content_image">
                    <media-layout :images="item.listImageUrl" :videos="item.listVideoUrl" @preview="handlePreview" />
                </div>
            </div>
        </div>
        <div class="social-list--item_footer">
            <div class="social-list--item_footer--action">
                <div class="social-list--item_footer--action_item" v-ripple>
                    <reaction :action-icons="item.actionIcons" @save="handleReaction($event, item.id)" @like="handleLike($event, item.id)" />
                </div>
                <div @click="toggleComment(item.id)" class="social-list--item_footer--action_item" v-ripple>
                    <v-icon light>
                        mdi-comment-text-outline
                    </v-icon>
                    Bình luận
                </div>
                <div class="social-list--item_footer--action_item" v-ripple>
                    <v-icon light>
                        mdi-share-outline
                    </v-icon>
                    Chia sẻ
                </div>
            </div>
        </div>
        <div v-if="item.isShowComment">
            <comment :id="item.id"/>
        </div>
    </div>
    <transition name="fade-transition">
        <v-skeleton-loader  v-if="isLoading" style="margin-top: 20px;" v-bind="attrs" type="list-item-avatar-two-line, image">
        </v-skeleton-loader>
    </transition>
    
    <preview-image :data="selectedItem" :is-visible.sync="isPreview" :current="selectedIndex" />
</div>