<div class="list-post-container">
    <div class="base-cms-right--body_wrapper">
        <div class="base-cms-right--body_top d-lg-flex align-center">
            <p class="mr-auto">{{listPostTitle}}</p>
            <div class="d-flex justify-start">
                <v-text-field label="Tìm kiếm" append-icon="mdi-magnify" outlined dense hide-details class="mr-4" >
                </v-text-field>
                <v-btn :disabled="isNotFound" depressed color="primary" @click="toCreatePost()" height="40px">
                    + Tạo tin mới
                </v-btn>
            </div>
        </div>
        <div class="base-cms-right--body_table">
            <template>
                <v-simple-table fixed-header height="calc(100vh - 261px)">
                    <template v-slot:default>
                        <thead>
                            <tr>
                                <th class="base-cms-right--body_table_header_checkbox" style="width: 40px;">
                                    <v-checkbox color="primary" hide-details>
                                    </v-checkbox>
                                </th>
                                <th class="base-cms-right--body_table_header">
                                    TIÊU ĐỀ
                                </th>
                                <th class="base-cms-right--body_table_header">
                                    NGÀY ĐĂNG
                                </th>
                                <th class="base-cms-right--body_table_header">
                                    DANH MỤC
                                </th>
                                <th class="base-cms-right--body_table_header">
                                    TRẠNG THÁI
                                </th>
                                <th class="base-cms-right--body_table_header">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="posts.length === 0">
                                <td colspan="6" style="text-align: center;">Không có dữ liệu</td>
                            </tr>
                            <tr v-for="(item, index) in posts" :key="index">
                                <td class="base-cms-right--body_table_checkbox">
                                    <v-checkbox color="primary" hide-details></v-checkbox>
                                </td>
                                <td>
                                    <div class="base-cms-right--body_table_title" @click="editPost(item.eventId)">
                                        <img :src="item.imageUrl || defaultImage" @error="onImgError" />
                                        <span>{{ item.title }}</span>
                                    </div>
                                </td>
                                <td>{{ $formatDateTime(item.datePosted) }}</td>
                                <td>{{ item.categoryName }}</td>
                                <td>{{ item.statusName }}</td>
                                <td class="base-cms-right--body_table_action">
                                    <v-icon @click.native="editPost(item.eventId)" class="edit-action">mdi-square-edit-outline</v-icon>
                                    <v-icon @click.native="handleDeletePost(item.eventId)" class="delete-action">mdi-delete</v-icon>
                                </td>
                            </tr>
                        </tbody>
                    </template>
                </v-simple-table>
            </template>
            <div class="d-flex align-center pa-4">
                <div class="mr-auto">{{numPostsInPage}}/{{totalItems}} tin</div>
                <div class="d-flex align-center">
                    <v-subheader>Số tin mỗi trang</v-subheader>
                    <v-select v-if="!isNotFound"class="ml-3" style="width: 80px;" outlined dense hide-details :items="limitPerPage" v-model="searchParams.limit"
                        @change="getPostsByLimit"></v-select>
                </div>
                <v-pagination v-model="searchParams.page" :length="totalPages" :total-visible="TotalPageVisible"
                    @input="getPostsByPaging"></v-pagination>
            </div>
        </div>
    </div>
    <v-dialog v-model="visibleConfirm" max-width="400">
        <v-card>
            <v-card-title class="text-h5">
                Bạn có muốn xoá bài viết này?
            </v-card-title>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn  text @click="visibleConfirm = false">
                    Bỏ qua
                </v-btn>
                <v-btn color="primary" @click="deletePost()">
                    Đồng ý
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>
