.video-province {
    font-family: 'Inter', sans-serif;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    &-item {
        background-image: url(/static/img/video/bg-sd.png);
        background-size: 100%;
        text-align: center;
        width: 160px;
        height: 265px;
        padding: 5px;
        margin: 0 10px;
        margin-bottom: 20px;
        &--title {
            margin-top: 5px;
            color: #000;
            font-size: 17px;
            font-weight: 600;
        }
        &--body {
            padding: 10px;
            padding-top: 50px;
        }
        &--content {
            &_temp {
                font-size: 27px;
            }
            &_des {
                font-size: 13px;
            }
        }
    }

}
