.video-province {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    &-item {
        text-align: center;
        width: 130px;
        padding: 5px;
        margin: 0 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        &--title {
            background: #fff;
            color: #000;
            font-size: 20px;
            font-weight: 600;
        }
        &--body {
            background: #ff0c04a8;
            padding: 10px;
            height: 240px;
        }
        &--content {
            &_temp {
                font-size: 32px;
            }
        }
    }

}
