.video-province {
    font-family: 'Inter', sans-serif;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    &-item {
        background-image: url(/static/img/video/bg-sd.png);
        background-size: 100%;
        text-align: center;
        width: 160px;
        height: 265px;
        padding: 5px;
        margin: 0 10px;
        margin-bottom: 20px;
        &--title {
            margin-top: 5px;
            color: #000;
            font-size: 17px;
            font-weight: 600;
        }
        &--body {
            padding: 10px;
            padding-top: 50px;
        }
        &--content {
            &_temp {
                font-size: 27px;
            }
            &_des {
                font-size: 13px;
            }
        }
    }

    &.layout-3-3 {
        width: 540px;
        margin: auto;
    }

    &.layout-4-5 {
        display: block;
    }
    .layout-4-5 {
        &__row-1 {
            width: 730px;
            flex-wrap: wrap;
            display: flex;
            margin: auto;
        }
        &__row-2 {
            width: 100%;
            flex-wrap: wrap;
            display: flex;
        }
    }

    &.layout-4-4 {
        width: 730px;
        margin: auto;
    }
    .layout-4-4 {
        &__row-1 {
            width: 100%;
            flex-wrap: wrap;
            display: flex;
        }
        &__row-2 {
            width: 100%;
            flex-wrap: wrap;
            display: flex;
        }
    }

    &.layout-4-4-5 {
        display: block;
    }
    .layout-4-4-5 {
        &__row-1 {
            width: 730px;
            flex-wrap: wrap;
            display: flex;
            margin: auto;
        }
        &__row-2 {
            width: 730px;
            flex-wrap: wrap;
            display: flex;
            margin: auto;
        }
        &__row-3 {
            width: 100%;
            flex-wrap: wrap;
            display: flex;
        }
    }
}
