.weahter-tool {
    &-result {
        &--header {
            padding-bottom: 10px;
            border-bottom: 1px solid;
        }
        &--body {
            padding-top: 10px;
            &_temp {
                display: flex;
                width: 280px;
                > div {
                    width: 50%;
                }
                &--value {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 70px;
                    text-align: center;
                }
                &--icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 100px;
                    }
                }
            }
        }
    }
}
