.weahter-tool {
    &-result {
        &--header {
            padding-bottom: 10px;
            border-bottom: 1px solid;
        }
        &--body {
            padding-top: 10px;
            &_temp {
                overflow: hidden;
                > div {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 20px;
                }
                &--value {
                    align-items: center;
                    justify-content: center;
                    font-size: 40px;
                    text-align: center;
                }
                &--icon {
                    align-items: center;
                    justify-content: center;
                    float: right;
                    img {
                        width: 50px;
                    }
                }
            }
        }
    }
}
