<div class="import-data">
    <v-form ref="importForm" v-model="valid" lazy-validation>
        <div class="mb-2"> Chọn Tỉnh Thành:</div>
        <v-select :items="province" item-text="name" item-value="id" outlined dense :rules="rules.provinceRules"
            v-model="model.provinceId"></v-select>
        <v-btn depressed color="primary" @click="upload()">Upload CSV</v-btn>
        <input ref="upload" type="file" hidden @change="onChangeDocuments($event.target.files)"
            accept=".csv " />
    </v-form>
    <v-dialog v-model="isUploading" hide-overlay persistent width="400">
        <v-card color="primary" dark>
            <v-card-text>
                Vui lòng chờ. Hệ thống đang tải dữ liệu
                <v-progress-linear color="light-blue" height="10" v-model="progress" striped></v-progress-linear>
            </v-card-text>
        </v-card>
    </v-dialog>

</div>
