<div class="base-container-footer">
    <div class="base-container-footer-wrapper">
        <div class="base-container-footer-wrapper--left">
            <img src="/static/img/footer/logo.png">
            <p>Trang thông tin chính thức trung tâm kttv khu vực nam bô - http://www.kttv-nb.org.vn/</p>
            <p>Giấy phép: Số 12/GP-TTĐT ngày 26/02/2015 </p>
        </div>
        <div class="base-container-footer-wrapper--right">
            <p>số 8 Mạc Đĩnh Chi, quận 1, thành phố Hồ Chí Minh</p>
            <p>Điện thoại: (08) 3.8.290092 – 3.8.242474.</p>
        </div>
    </div>
</div>
