<div class="base-container-footer">
    <div class="base-container-footer-wrapper">
        <div class="base-container-footer-wrapper--left">
            <img :src="logo">
            <p>Trang thông tin chính thức của Trung tâm Dịch vụ tư vấn & Chuyển giao công nghệ KTTV & Môi trường - http://www.kttv-nb.org.vn/</p>
            <p>Giấy phép: Số 12/GP-TTĐT ngày 26/02/2015 </p>
        </div>
        <div class="base-container-footer-wrapper--right">
            <h3>Liên hệ</h3>
            <p>Số 8 Mạc Đĩnh Chi, quận 1, thành phố Hồ Chí Minh</p>
            <p>Điện thoại: (08) 3.8.290092 – 3.8.242474 - Ms. Trang: 091 846 50 54.</p>

            <p>Fax: (84-8) 3.8.257844 – 3.8.296091</p>
            <p>Email: <a href="mailto:kttvnb@gmail.com">kttvnb@gmail.com</a></p>
        </div>
    </div>
</div>
