<div class="confirm-announce-container">
    <div v-if="email"  class="confirm-announce-container-wrapper">
        <div class="confirm-announce-container-wrapper--title">Xác minh tài khoản</div>
        <div class="d-flex flex-column justify-center">
            <div>Một email xác minh đã được gửi đến email<span v-if="email"><b>: {{email}}</b></span><span v-else> của bạn</span></div>
            <div>Hãy vào đường liên kết trong email xác minh để hoàn tất quá trình đăng ký.</div>
            <div  v-if="!isResending" class="confirm-announce-container-wrapper--link">
                <div>Nhấn gửi lại nếu bạn chưa nhận được email.</div>
                <div class="confirm-announce-container-wrapper--link-action" @click="resendEmail()">Gửi lại</div>
            </div>
            <div v-else class="confirm-announce-container-wrapper--link">Đang gửi lại ...</div>
        </div>
    </div>
    <div v-if="!email && isVerifyingEmail"  class="confirm-announce-container-wrapper">
        <div class="d-flex flex-column justify-center align-center">
            <v-btn
                :color="isError? 'error' : 'primary'"
                fab
                x-large
                dark
                class="white--text"
                :loading="isLoading"
            ><v-icon>{{ isError ? "mdi-alert" : "mdi-check-bold"}}</v-icon>
            </v-btn>
            <div v-if="!isLoading" class="mt-6">
                <span v-if="isError">Có lỗi xảy ra</span>
                <span v-else>Bạn đã xác thực tài khoản thành công</span>
            </div>
        </div>
    </div>
</div>
