<div class="base-cms-right--body_wrapper">
    <div class="base-cms-right--body_top">
        <v-btn class="ma-2" color="" dark @click="handleBack()">
            <v-icon dark left>
                mdi-arrow-left
            </v-icon>Back
        </v-btn>
        <p>Tạo tài khoản</p>
    </div>
    <v-form ref="postForm" v-model="valid" lazy-validation>
        <div class="base-cms-right--body_wrapper_inner">
            <div class="base-cms-right--body_account">
                <div class="base-cms-right--body_account_left">
                    <div>Tên tài khoản</div>
                    <v-text-field solo :rules="rules.userName" v-model="userModel.userName"></v-text-field>
                    <div>Mật khẩu</div>
                    <v-text-field solo :rules="rules.password" v-model="userModel.password"></v-text-field>
                </div>
                <div class="base-cms-right--body_account_right">
                    <div>Email</div>
                    <v-text-field solo :rules="rules.email" v-model="userModel.email"></v-text-field>
                </div>
            </div>

            <div class="base-cms-right--body_type">
                <div>Chọn loại tài khoản</div>
                <v-radio-group v-model="userModel.role" column>
                    <v-radio label="Admin" value="radio-1"></v-radio>
                    <p>Đăng các bài viết cảnh báo thiên tai, thông tin khuyến cáo, cộng đồng</p>
                    <v-radio label="Đài khí tượng thủy văn" value="radio-2"></v-radio>
                    <p>Xem và chỉnh sửa dữ liệu KTTV</p>
                    <v-radio label="Đài truyền hình" value="radio-3"></v-radio>
                    <p>Xuất video, tạo kịch bản trên bản đồ, quản lí video</p>
                </v-radio-group>
            </div>

            <div class="base-cms-right--body_setting">
                <div class="base-cms-right--body_setting--upload">
                    <div style="position: relative;">
                        <div>Hình ảnh</div>
                        <img :src="uploadedDocs" />
                        <v-progress-circular v-if="progress > 0" class="progress-bar" :rotate="-90" :size="100"
                            :width="15" :value="progress" color="primary">
                            {{ progress }}
                        </v-progress-circular>
                    </div>
                    <div class="base-cms-right--body_setting--upload_btn">
                        <input ref="upload" type="file" @change="onChangeDocuments($event.target.files)" title="" hidden
                            accept="image/*" />
                        <v-btn elevation="2" @click="handleClickBrowse">Upload</v-btn>
                    </div>
                </div>
                <div>Trạng thái</div>
                <v-select :items="status" item-text="name" item-value="statusId" solo :rules="rules.status"
                    v-model="userModel.statusId"></v-select>
                <v-btn depressed color="primary" @click="createUser()">Tạo tài khoản</v-btn>
            </div>
        </div>
    </v-form>
    <loading :is-loading="isLoading" absolute/>
</div>
