.info-detail-page-container {
    &_section_1 {
        background: url(/static/img/info-detail-page/section_1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        height: 150px;
        color: #fff;
    }

    &_section_2 {
        background-color: #ddd;
        height: 800px;

        &_main {
            background-color: #fff;
            height: 700px;
            padding: 30px 50px;
        }

        &_relative {
            background-color: #fff;
            height: 400px;
            padding: 10px 10px;
        }
    }

    &-wrapper {
        max-width: $container-width-xl;
        margin: auto;
        display: flex;
        padding: 50px 0;
        h1 {
            padding-left: 20px;
            border-left: 3px solid;
            margin-bottom: 30px;
        }
    }
}