.info-detail-page-container {
    &_section_1 {
        background: url(/static/img/info-detail-page/section_1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        color: #fff;
    }

    &_section_2 {
        background-color: #ddd;

        &_main {
            background-color: #fff;
            padding: 40px;
            @media all and (min-width: 320px) and (max-width: 900px) {
                padding: 20px;
            }
            img {
                width: 100%;
            }
            h1 {
                color: red;
            }
        }

        &_relative {
            background-color: #fff;
            padding: 10px 10px;

            & > h2 {
                padding-top: 30px;
            }
            
            &_item {
                display: flex;
                cursor: pointer;

                &_title {
                    h4 {
                        height: 60px;
                        line-height: 20px;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    &:hover {
                        h4 {
                            color: $primary-color;
                        }
                    }
                }

                img {
                    width: 100%;
                    height: 60px;
                    object-fit: cover;
                }
            }
        }
    }

    &-wrapper {
        width: $container-width-xl;
        max-width: 95%;
        margin: auto;
        display: flex;
        padding: 50px 20px;
        h2 {
            border-bottom: 1px solid #ddd;
            margin-bottom: 0;
            padding-bottom: 15px;
            font-size: 20px;
        }
    }
}
