.data-page-container {
    background-image: url(/static/img/time-page/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;

    &_wrapper {
        background: linear-gradient(rgba(0, 114, 255, 0.3), rgba(0, 43, 255, 0.46)), rgba(0, 0, 0, 0.22);
        border-radius: 25px;
        margin-bottom: 40px;
        color: #fff;
    }

    &_search {
        padding: 16px 30px;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_content {
        padding: 30px;
        display: flex;

        &-station {
            margin-top: 10px;

            h2 {
                font-size: 18px;
            }

            &--item {
                border: 1px solid;
                border-radius: 5px;
                width: 350px;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                &-name {
                    font-weight: bold;
                    width: 200px;
                }

                &-type {
                    width: fit-content;
                    padding: 0px 10px;
                    text-align: right;
                    border: 1px solid;
                    border-radius: 5px;
                }

                &-address {

                }
            }
        }

        &-result {
            margin-left: 30px;

            &-filter {
                display: flex;
            }

            &-table {
                margin-top: 10px;
            }
        }
    }
}
