.data-page-container {
    background-image: url(/static/img/time-page/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;

    &_wrapper {
        background: linear-gradient(rgba(0, 114, 255, 0.3), rgba(0, 43, 255, 0.46)), rgba(0, 0, 0, 0.22);
        border-radius: 25px;
        margin-bottom: 40px;
        color: #fff;
    }

    &_search {
        padding: 16px 30px;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_content {
        padding: 30px;
        display: flex;

        &-station {
            margin-top: 10px;
            height: 600px;
            overflow: auto;
            /* width */
            &::-webkit-scrollbar {
                width: 5px;
                position: absolute;
            }
            /* Track */
            &::-webkit-scrollbar-track {
                display: none;
            }
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #ddd;
                border-radius: 10px;
            }
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #fff;
            }

            h2 {
                font-size: 18px;
            }

            &--item {
                border: 1px solid;
                border-radius: 5px;
                width: 350px;
                height: 75px;
                padding: 10px;
                margin-bottom: 10px;

                &-header {
                    display: flex;
                    justify-content: space-between;
                    
                    &-name {
                        font-weight: bold;
                    }
    
                    &-type {
                        width: fit-content;
                        padding: 0px 10px;
                        text-align: right;
                        border: 1px solid;
                        border-radius: 5px;
                    }
                }

                &-address {
                    width: 330px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        &-result {
            margin-left: 30px;

            &-filter {
                display: flex;
            }

            &-table {
                margin-top: 10px;
            }
        }
    }
}
