.data-page-container {
    background: url(/static/img/icon-page/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #fff;
    &-wrapper {
        width: $container-width-xl;
        margin: auto;
        padding: 80px 0 60px 0;
        &--tab {
            margin-right: 20px;
            cursor: pointer;
            font-size: 20px;
            &.active {
                border-bottom: 1px solid;
                font-weight: 700;
            }
        }
        &-col {
            background:#fff;
            border-radius: 10px;
            padding: 20px;
            width: 100%;
            color: #000;
            &-harsh {
                display: flex;
            }
        }
    }
}

.theme--light.v-data-table.v-data-table--fixed-header thead th {
    background: $primary-color;
    color: #fff !important;
    padding: 5px 15px;
}