<base-container>
    <div class="data-page-container">
        <v-row class="data-page-container-wrapper">
            <div class="data-page-container-wrapper--tab" :class="activeTab === 0 ? 'active' : ''"
                @click="handleChangeTab(0)">
                TOÀN QUỐC
            </div>
            <div class="data-page-container-wrapper--tab" :class="activeTab === 1 ? 'active' : ''"
                @click="handleChangeTab(1)">
                KV BẮC BỘ
            </div>
            <div class="data-page-container-wrapper--tab" :class="activeTab === 2 ? 'active' : ''"
                @click="handleChangeTab(2)">
                MIỀN TRUNG - TÂY NGUYÊN
            </div>
            <div class="data-page-container-wrapper--tab" :class="activeTab === 3 ? 'active' : ''"
                @click="handleChangeTab(3)">
                NAM BỘ
            </div>
            <div class="data-page-container-wrapper--tab" :class="activeTab === 4 ? 'active' : ''"
                @click="handleChangeTab(4)">
                VĨNH LONG
            </div>
            <div class="data-page-container-wrapper--tab" :class="activeTab === 5 ? 'active' : ''"
                @click="handleChangeTab(5)">
                THỦY VĂN
            </div>
            <div class="data-page-container-wrapper--tab" :class="activeTab === 6 ? 'active' : ''"
                @click="handleChangeTab(6)">
                HIỆN TƯỢNG CỰC ĐOAN
            </div>
        </v-row>
        <v-row v-if="activeTab === 0" class="data-page-container-wrapper" style="padding: 2vw 0">
            <div class="data-page-container-wrapper-col">
                <weather-forecast region="ALL" key="ALL" all dummy />
            </div>
        </v-row>
        <v-row v-if="activeTab === 1" class="data-page-container-wrapper" style="padding: 2vw 0">
            <div class="data-page-container-wrapper-col">
                <weather-forecast region="DBB" key="DBB" dummy />
                <weather-forecast region="TBB" key="TBB" dummy style="margin-top: 20px" />
                <weather-forecast region="DBSH" key="DBSH" dummy style="margin-top: 20px"/>
            </div>
        </v-row>
        <v-row v-if="activeTab === 2" class="data-page-container-wrapper" style="padding: 2vw 0">
            <div class="data-page-container-wrapper-col">
                <weather-forecast region="BTB" key="BTB" dummy />
                <weather-forecast region="NTB" key="NTB" dummy style="margin-top: 20px" />
                <weather-forecast region="TN" key="TN" dummy style="margin-top: 20px" />
            </div>
        </v-row>
        <v-row v-if="activeTab === 3" class="data-page-container-wrapper" style="padding: 2vw 0">
            <div class="data-page-container-wrapper-col">
                <weather-forecast region="DNB" :height="350" key="DNB"/>
                <weather-forecast region="TNB" style="margin-top: 20px" key="TNB"/>
            </div>
        </v-row>
        <v-row v-if="activeTab === 4" class="data-page-container-wrapper" style="padding: 2vw 0">
            <div class="data-page-container-wrapper-col">
                <weather-forecast region="TNB" province="49" key="49"/>
            </div>
        </v-row>
        <v-row v-if="activeTab === 5" class="data-page-container-wrapper" style="padding: 2vw 0">
            <div class="data-page-container-wrapper-col">
                <hydrological />
            </div>
        </v-row>
        <v-row v-if="activeTab === 6" class="data-page-container-wrapper" style="padding: 2vw 0">
            <div class="data-page-container-wrapper-col-harsh">
                <div class="simple-table">
                    <template>
                        <v-simple-table fixed-header height="500px">
                            <template v-slot:default>
                                <thead>
                                    <tr>
                                        <th>Hiện tượng cực đoan</th>
                                        <th v-for="(item,index) in wardInfo" :key="index">
                                            {{item.name}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in disasters" :key="index">
                                        <th>{{ item.name }}</th>
                                        <td>{{ getRandomArbitrary(item.min, item.max) }}</td>
                                        <td>{{ getRandomArbitrary(item.min, item.max) }}</td>
                                        <td>{{ getRandomArbitrary(item.min, item.max) }}</td>
                                        <td>{{ getRandomArbitrary(item.min, item.max) }}</td>
                                        <td>{{ getRandomArbitrary(item.min, item.max) }}</td>
                                        <td>{{ getRandomArbitrary(item.min, item.max) }}</td>
                                        <td>{{ getRandomArbitrary(item.min, item.max) }}</td>
                                        <td>{{ getRandomArbitrary(item.min, item.max) }}</td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </template>
                </div>
                <div class="legend-table">
                    <template>
                        <v-simple-table fixed-header height="500px">
                            <template v-slot:default>
                                <thead>
                                    <tr>
                                        <th>Cấp độ rủi ro</th>
                                        <th>Mô tả chi tiết</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="background-color: blue;">Cấp 1 (Rủi ro thấp)</td>
                                        <td>
                                            - Ít có khả năng gây thiệt hại về người, vật nuôi. <br>
                                            - Ít thiệt hại đến tài sản, công trình hạ tầng. <br>
                                            - Tác hại ít đến môi trường.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background-color: gold;">Cấp 2 (Rủi ro trung bình)</td>
                                        <td>
                                            - Có khả năng gây thiệt hại về người, vật nuôi. <br>
                                            - Thiệt hại đáng kể đến tài sản, công trình hạ tầng. <br>
                                            - Tác hại tương đối lớn đến môi trường.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background-color: orange;">Cấp 3 (Rủi ro lớn)</td>
                                        <td>
                                            - Nhiều khả năng gây thiệt hại về người, vật nuôi. <br>
                                            - Thiệt hại lớn đến tài sản, công trình hạ tầng. <br>
                                            - Có tác động rất xấu và để lại hậu quả nghiêm trọng đến môi trường.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background-color: red;">Cấp 4 (Rủi ro rất lớn)</td>
                                        <td>
                                            - Có khả năng gây thiệt hại lớn về người, vật nuôi. <br>
                                            - Thiệt hại nặng nề về tài sản, công trình hạ tầng. <br>
                                            - Môi trường bị phá hủy, để lại hậu quả lâu dài.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="background-color: purple;">Cấp 5 (Thảm họa)</td>
                                        <td>
                                            - Thiệt hại rất lớn về người, vật nuôi. <br>
                                            - Phá hủy tài sản, các công trình hạ tầng. <br>
                                            - Môi trường bị tàn phá nặng nề, hậu quả nghiêm trọng và lâu dài.
                                        </td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </template>
                </div>
            </div>
        </v-row>
    </div>
</base-container>
