.base-cms-right--body {
    &_top {
        display: table;
        width: 100%;;
        // title
        p {
            font-size: 23px;
            float: left;
            margin: 5px 0 0 0;
        }

        // create new button
        button {
            float: right;
        }
    }

    &_table {
        background-color: #fff;

        &_header {
            font-size: 14px;
            color: #949494;
            white-space: nowrap;
        }
        &_action {
            white-space: nowrap;
            font-size: 14px !important;
            cursor: pointer;
        }

        &_image {
            img {
                margin-right: 20px;
                width: 50px;
                height: 50px;
                border-radius: 4px;
                object-fit: cover;
            }
        }
        &_footer_page_num {
            display: flex;
            align-items: center;
            padding: 20px;
            
            &_limit {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

.create-dialog {
    background: #fff;
    &-header {
        background: $primary-color;
        color: #fff;
        padding: 1vw 2vw;
        display: flex;
        font-size: 20px;
        font-weight: $medium-font-weight;
        &--title {
            flex: 1;
        }
    }
    &-body {
        padding: 2vw;

        &_setting {
            background-color: #fff;
            padding: 20px;
            order: 2;
            flex: 0 0 30%;
            margin-left: 20px;
            .progress-bar {
                height: 100px;
                width: 100px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            button {
                float: right;
            }
            &--upload {
                display: flex;
                img {
                    width: 150px;
                }
                &_btn {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        &--action {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-left: 2vw;
        }
    }

}