<div class="base-cms-right--body_wrapper">
    <div class="base-cms-right--body_top">
        <p>Biểu tượng thời tiết</p>
        <v-btn depressed color="primary" height="50px" @click="toCreateIcon()">+ Tạo biểu tượng</v-btn>
    </div>
    <div class="base-cms-right--body_table">
		<template>
			<v-simple-table fixed-header height="calc(100vh - 261px)">
				<template v-slot:default>
					<thead>
						<tr>
							<th class="base-cms-right--body_table_header">
								HÌNH
							</th>
							<th class="base-cms-right--body_table_header">
								TÊN BIỂU TƯỢNG
							</th>
							<th class="base-cms-right--body_table_header">
								LOẠI
							</th>
							<th class="base-cms-right--body_table_header">

							</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item, index) in icons" :key="index">
							<td>
                                <div class="base-cms-right--body_table_image">
                                    <img :src="item.imageUrl">
                                </div>
                            </td>
							<td>{{ item.name }}</td>
							<td>{{ item.type }}</td>
							<td class="base-cms-right--body_table_action">
								<v-icon @click.native="deletePost(item.eventId)">mdi-delete</v-icon>
								<v-icon @click.native="editPost(item.eventId)">mdi-square-edit-outline</v-icon>
							</td>
						</tr>
					</tbody>
				</template>
			</v-simple-table>
		</template>
        <div class="base-cms-right--body_table_footer_page_num">
            <div style="flex: 1;">{{numPostsInPage}}/{{totalItems}} biểu tượng</div>
			<div class="base-cms-right--body_table_footer_page_num_limit">
				Số biểu tượng mỗi trang
				<v-select style="margin-left: 20px;" :items="limitPerPage" v-model="pageSize" @change="getPostsByLimit"></v-select>
			</div>
            <v-pagination v-model="currentPage" :length="totalPages" :total-visible="TotalPageVisible"
				@input="getPostsByPaging"></v-pagination>
        </div>
    </div>
	<v-dialog v-model="isDisplayDialog" persistent max-width="500">
		<div class="create-dialog">
            <div class="create-dialog-header">
                <div class="create-dialog-header--title">
                    {{dialogTitle}}
                </div>
                <div class="create-dialog-header--action">
                    <v-btn @click="isDisplayDialog = false" icon color="white">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </div>
            </div>
            <div class="create-dialog-body">
                <div class="create-dialog-body_setting--upload">
                    <div style="position: relative;">
                        <div>Hình ảnh</div>
                        <img :src="uploadedDocs" />
                        <v-progress-circular v-if="progress > 0" class="progress-bar" :rotate="-90" :size="100"
                            :width="15" :value="progress" color="primary">
                            {{ progress }}
                        </v-progress-circular>
                    </div>
                    <div class="create-dialog-body_setting--upload_btn">
                        <input ref="upload" type="file" @change="onChangeDocuments($event.target.files)" title="" hidden
                            accept="image/*" />
                        <v-btn elevation="2" @click="handleClickBrowse">Upload hình</v-btn>
                    </div>
                </div>
				<div>Tên biểu tượng</div>
                <v-text-field solo :rules="rules.nameRules"></v-text-field>
				<div>Loại biểu tượng</div>
                <v-select :items="type" item-text="name" item-value="typeId" solo :rules="rules.typeRules"></v-select>
				<div class="create-dialog-body--action">
					<v-btn @click="isDisplayDialog = false" style="width: 100px; margin-right: 10px;">Hủy</v-btn>
					<v-btn @click="createIcon()" color="primary" style="width: 100px;">{{dialogButton}}</v-btn>
				</div>
            </div>
        </div>
	</v-dialog>
</div>
