<div>
    <div v-for="(item, index) in myPosts" :key="index" class="social-post-item">
        <div class="social-post-item-header">
            <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                    <span v-bind="attrs" v-on="on" class="social-post-item-header--time">{{$calculateRelativeTime(item.createDate)}}</span>
                </template>
                <span>{{$formatDateTime(item.createDate)}}</span>
            </v-tooltip>
            <div class="ml-auto d-flex">
                <div class="social-post-item-header--status approve">
                    {{getStatus(item.statusId)}}
                </div>
                <v-menu transition="slide-x-transition" bottom left>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on" dark icon class="mb-auto">
                            <v-icon color="grey dark-2">
                                mdi-dots-horizontal
                            </v-icon>
                        </v-btn>
                    </template>
                    <v-list dense>
                        <v-list-item-group color="primary">
                          <v-list-item @click="handleSelectPost(item.id)">
                            <v-list-item-icon> <v-icon>mdi-pencil-outline</v-icon> </v-list-item-icon>
                            <v-list-item-content> <v-list-item-title>Chỉnh sửa</v-list-item-title> </v-list-item-content>
                          </v-list-item>
                          <v-list-item >
                            <v-list-item-icon><v-icon color="error">mdi-trash-can-outline</v-icon> </v-list-item-icon>
                            <v-list-item-content> <v-list-item-title>Xóa</v-list-item-title> </v-list-item-content>
                          </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-menu>
            </div>
        </div>
        <div class="social-post-item-body">
            <div class="social-post-item-body--text" v-html="displayContent(item.content)"></div>
            <div v-if="item.content.length >= 255" class="social-post-item-body--button" @click="toggleContent($event.target, item)" v-ripple>
                Đọc thêm
            </div>
        </div>
        <div v-if="item.listImageUrl.length !== 0 || item.listVideoUrl.length !== 0" class="social-post-item-media">
            <media-layout :post-id="item.id" :images="item.listImageUrl" :videos="item.listVideoUrl" @preview="handlePreview" />
        </div>
        <div v-if="item.statusId === 2" class="social-post-item-reaction">
            <div>
                <reaction-count :action-icons="item.actionIcons" />
            </div>
            <div v-if="item.numberOfComment">
                {{item.numberOfComment}} Bình luận
            </div>
        </div>
        <div v-if="item.statusId === 2" class="social-post-item-footer">
            <div class="social-post-item-footer--action">
                <div class="social-post-item-footer--action_item" v-ripple>
                    <reaction :action-icons="item.actionIcons" @save="handleReaction($event, item.id)" @like="handleLike($event, item.id)" />
                </div>
                <div @click="toggleComment(item.id)" class="social-post-item-footer--action_item" v-ripple>
                    <v-icon light>
                        mdi-comment-text-outline
                    </v-icon>
                    Bình luận
                </div>
                <div class="social-post-item-footer--action_item" v-ripple>
                    <v-icon light>
                        mdi-share-outline
                    </v-icon>
                    Chia sẻ
                </div>
            </div>
        </div>
        <div v-if="item.isShowComment">
            <comment :id="item.id" @preview="handlePreview"/>
        </div>
    </div>
    <transition name="fade-transition">
        <v-skeleton-loader v-if="isLoading" style="margin-top: 20px;" v-bind="attrs" type="list-item-avatar-two-line, image">
        </v-skeleton-loader>
    </transition>
    <preview-image :data="selectedItem" :is-visible.sync="isPreview" :current="selectedIndex"/>
    <v-dialog
        transition="dialog-bottom-transition"
        max-width="600"
        v-model="viewEditPostDialog"
        class="social-list-edit-post-dialog"
    >
        <template>
            <edit-status v-if="selectedPostId" :post-id.sync="selectedPostId" @handle-close-modal="handleCloseEditModal"></edit-status>
        </template>
    </v-dialog>
</div>