.icon-page-container {
    background: url(/static/img/icon-page/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    &-wrapper {
        width: $container-width-xl;
        margin: auto;
        max-width: 95%;
        &--tab {
            margin-right: 20px;
            cursor: pointer;
            font-size: 20px;
            &.active {
                border-bottom: 1px solid #ddd;
                font-weight: 700;
            }
        }
        &-col {
            background:#fff;
            border-radius: 10px;
            padding: 10px;
            > div {
                padding: 10px;
                overflow: auto;
                max-height: 355px;
                /* width */
                &::-webkit-scrollbar {
                    width: 5px;
                    position: absolute;
                }
                /* Track */
                &::-webkit-scrollbar-track {
                    display: none;
                }
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #ddd;
                    border-radius: 10px;
                }
                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #fff;
                }
            }
        }
        &--item {
            display: flex;
            align-items: center;
            padding: 5px 0;
            border-top: 1px solid #ddd;
            &.first-item {
                border: none;
            }
            img {
                width: 50px;
                margin-right: 20px;
            }
        }
    }
}
