<base-container>
    <div class="icon-page-container">
        <div class="nav-sticky-wrapper">
            <div class="nav-sticky">
                <ul>
                <li :class="activeTab === 0 ? 'active' : ''" @click="handleChangeTab(0)">Biểu tượng thời tiết</li>
                <li  :class="activeTab === 1 ? 'active' : ''" @click="handleChangeTab(1)">Các trạng thái thời tiết</li>
                </ul>
            </div>
        </div>
        <div v-if="activeTab === 1" class="icon-page-container-wrapper" style="padding-bottom: 2vw;">
            <weaher-status />
        </div>
        <div v-else class="padding-page">
            <v-row class="icon-page-container-wrapper">
                <v-col cols="12" md="6">
                    <div class="icon-page-container-wrapper-col">
                        <div>
                            <div v-for="(item,index) in listIcon_1" :key="index" :class="index === 0 ? 'first-item' : ''"
                                class="icon-page-container-wrapper--item">
                                <img :src="item.url">
                                <span>{{item.description}}</span>
                            </div>
                        </div>

                    </div>
                </v-col>
                <v-col cols="12" md="6">
                    <div class="icon-page-container-wrapper-col">
                        <div>
                            <div v-for="(item,index) in listIcon_2" :key="index" :class="index === 0 ? 'first-item' : ''"
                                class="icon-page-container-wrapper--item">
                                <img :src="item.url">
                                <span>{{item.description}}</span>
                            </div>
                        </div>
                    </div>
                </v-col>
            </v-row>
            <v-row class="icon-page-container-wrapper" style="padding-top: 0;padding-bottom: 2vw;">
                <v-col cols="12" md="6">
                    <div class="icon-page-container-wrapper-col">
                        <div>
                            <div v-for="(item,index) in listIcon_3" :key="index" :class="index === 0 ? 'first-item' : ''"
                                class="icon-page-container-wrapper--item">
                                <img :src="item.url">
                                <span>{{item.description}}</span>
                            </div>
                        </div>

                    </div>
                </v-col>
                <v-col cols="12" md="6">
                    <div class="icon-page-container-wrapper-col">
                        <div>
                            <div v-for="(item,index) in listIcon_4" :key="index" :class="index === 0 ? 'first-item' : ''"
                                class="icon-page-container-wrapper--item">
                                <img :src="item.url">
                                <span>{{item.description}}</span>
                            </div>
                        </div>

                    </div>
                </v-col>
            </v-row>
        </div>
    </div>
</base-container>
