.social-page-container {
    background-color: #f3f3f3;

    &_header {
        height: 50px;
    }
    &_section_1 {
        background-color: #fff;
        padding: 20px;
        .box-bg-n {
            position: relative;
            cursor: pointer;
            img {
                width: 100%;
                object-fit: cover;
                height: 500px;
                display: block;
            }
            .content-bg-n {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 15px;
                color: #fff;
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
                p {
                    margin: 0;
                }
            }
        }
        &--sub {
            cursor: pointer;

            img {
                width: 100%;
                height: 160px;
                object-fit: cover;
                display: block;
            }

            h4{
               height: 50px;
               overflow: hidden;
            }
        }
    }

    &_section_2 {
        padding: 30px 0 50px 0;
        .box-item-n {
            img {
                width: 100%;
                height: 180px;
                object-fit: cover;
                display: block;
            }
            .content-item-n {
                padding: 15px;
                background: #fff;
                cursor: pointer;
                h4 {
                    font-size: 15px;
                    height: 43px;
                    overflow: hidden;
                    
                    &:hover {
                        color: $primary-color;
                    }
                }
                &:hover {
                    h4 {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}