.social-page {
    padding: 1.5vw 0;
    background: #EEEEEE;
    &-container {
        display: flex;
        &-left {
            width: 200px;
        }
        &-middle {
            margin: 0 20px;
            flex: 1;
        }
        &-right {
            width: 300px;
        }
    }
}