<div class="list-local-container">
    <div class="base-cms-right--body_wrapper">
        <div class="base-cms-right--body_top d-flex">
            <p class="mr-auto">Các hiện tượng cực đoan</p>
            <v-menu v-model="selectedDate" :close-on-content-click="false" :nudge-right="40"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field v-model="formatSelectedDate" prepend-icon="mdi-calendar" label="Filter"
                        readonly v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="selectedDate" @input="selectedDate = false" locale="vi-vn"
                    @change="handleFilterDate">
                </v-date-picker>
            </v-menu>
            <v-select :items="lookupProvince" item-text="name" item-value="id" solo
                v-model="selectedProvince"></v-select>
            <v-btn depressed color="primary" height="50px" @click="handleAdd()">
                + Tạo mới
            </v-btn>
        </div>
        <div class="base-cms-right--body_table">
            <template>
                <v-simple-table fixed-header height="calc(100vh - 261px)">
                    <template v-slot:default>
                        <thead>
                            <tr>
                                <th class="base-cms-right--body_table_header_checkbox" style="width: 40px;">
                                    <v-checkbox color="primary" hide-details>
                                    </v-checkbox>
                                </th>
                                <th class="base-cms-right--body_table_header">TỈNH</th>
                                <th class="base-cms-right--body_table_header">XÃ/HUYỆN</th>
                                <th class="base-cms-right--body_table_header">THỜI GIAN</th>
                                <th class="base-cms-right--body_table_header"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in coList" :key="index">
                                <td class="base-cms-right--body_table_checkbox">
                                    <v-checkbox color="primary" hide-details></v-checkbox>
                                </td>
                                <td>{{ item.provinceName }}</td>
                                <td>{{ item.districtName }}</td>
                                <td>{{ $formatDate(item.date) }}</td>
                                <td class="base-cms-right--body_table_action">
                                    <v-icon @click.native="handleEdit(item.id)" class="edit-action">mdi-square-edit-outline</v-icon>
                                    <v-icon @click.native="handleDelete(item.id)" class="delete-action">mdi-delete</v-icon>
                                </td>
                            </tr>
                        </tbody>
                    </template>
                </v-simple-table>
            </template>
        </div>
    </div>
</div>
