.weather-forecast {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        position: absolute;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        display: none;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #ddd;
        border-radius: 10px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #fff;
    }
    thead {
        background-color: linear-gradient(359deg, #f5f5f538, #f3f3f32e);
    }
    td {
        min-width: 100px;
    }
    .theme--light.v-data-table {
        background-color: transparent;
        color: #fff;
        border: 1px solid;
        border-radius: 0;
    }
    .theme--light.v-data-table
        > .v-data-table__wrapper
        > table
        > thead
        > tr
        > th {
        color: #fff;
    }
    .v-data-table
        > .v-data-table__wrapper
        tbody
        tr:first-child:hover
        td:first-child {
        border-radius: 0 !important;
    }
    .theme--light.v-data-table
        > .v-data-table__wrapper
        > table
        > tbody
        > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
        background: linear-gradient(359deg, #f5f5f538, #f3f3f32e) !important;
    }
    .theme--light.v-data-table.v-data-table--fixed-header thead th {
        background: $primary-color !important;
    }
    .v-data-table--fixed-header > .v-data-table__wrapper,
    .v-data-table--fixed-height .v-data-table__wrapper {
        /* width */
        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            position: absolute;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            display: none;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $primary-color;
            border-radius: 10px;
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background:darken($color:$primary-color, $amount: 10);
        }
    }
    &-paging {
        margin-top: 20px;
        .v-pagination {
            justify-content: flex-end;
        }
        .theme--light.v-pagination .v-pagination__navigation {
            box-shadow: none;
            i {
                color: #fff !important;
            }
        }
        .theme--light.v-pagination .v-pagination__item {
            background: none;
            box-shadow: none;
            color: #fff;
        }
        .v-application .primary {
            background-color: $primary-color !important;
            border-color: $primary-color !important;
        }
        .theme--light.v-pagination .v-pagination__item--active {
            background-color: $primary-color !important;
        }
    }
}
.theme--light {
    border-color: rgba(0,0,0,.12) !important;
    tr {
        td,th {
            color: #000;
        }
    }
}
