<div class="weather-forecast">
    <v-menu v-model="selectedDateMenu" :close-on-content-click="false" :nudge-right="40"
        transition="scale-transition" offset-y min-width="auto">
        <template v-slot:activator="{ on, attrs }">
            <v-text-field color="white" dark v-model="FormattedSelectedDate" prepend-icon="mdi-calendar"
                readonly v-bind="attrs" v-on="on"></v-text-field>
        </template>
        <v-date-picker v-model="selectedDate" @input="selectedDateMenu = false" locale="vi-vn"
            :min="CalendarMinDate" :max="CalendarMaxDate" @change="getDetail()">
        </v-date-picker>
    </v-menu>

    <v-simple-table fixed-header :height="`${height}px`">
        <template v-slot:default>
            <thead>
                <tr>
                    <th>
                        {{title}}
                    </th>
                    <th>
                        Nhiệt độ
                    </th>
                    <th>
                        Độ ẩm
                    </th>
                    <th>
                        Lượng mưa
                    </th>
                    <th>
                        Cấp gió
                    </th>
                    <th>
                        Tốc độ gió
                    </th>
                </tr>
            </thead>
            <tbody style="position: relative;">
                <tr v-if="data.length === 0">
                    <td colspan="6" style="text-align: center;">Không có dữ liệu</td>
                </tr>
                <tr v-for="(item,index) in data" :key="item.StationId">
                    <td>{{item.Name}}</td>
                    <td>{{item.Temprature.min}}°C - {{item.Temprature.max}}°C</td>
                    <td>{{item.Humidity.min}}% - {{item.Humidity.max}}%</td>
                    <td>{{item.RainAmount.min}}mm - {{item.RainAmount.max}}mm </td>
                    <td>Cấp {{item.WindLevel.min}} - Cấp {{item.WindLevel.max}}</td>
                    <td>{{item.WindSpeed.min}}m/s - {{item.WindSpeed.max}}m/s</td>
                </tr>
                <loading :is-loading="isLoading" absolute/>
            </tbody>
        </template>
    </v-simple-table>
</div>
