.home-page-container {
    #windy {
        width: 100%;
        height: 100vh;
        @media all and (min-width: 320px) and (max-width: 700px) {
            &.resize {
                height: calc(100vh - 300px);
                min-height: 300px;
            }
        }
    }
    .result {
        position: absolute;
        top: 19px;
        left: 280px;
        @media all and (min-width: 320px) and (max-width: 700px) {
            position: relative;
            top: auto;
            left: auto;
            height: 300px;
        }
    }
    #logo {
        display: none;
    }
    position: relative;
    .record-btn {
        position: absolute;
        right: 2vw;
        bottom: 4vw;
    }
    .back-btn {
        position: absolute;
        right: 2vw;
        top: 2vw;

    }
    .qr-code-scan {
        position: absolute;
        right: 7vw;
        top: 2vw;
    }
    &-icon-picker {
        position: absolute;
        right: 15px;
        top: 20%;
        background: #000;
        padding: 10px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(121, 120, 120, 0.5);
        cursor: pointer;
    }
    .hide-tab {
        display: none;
    }
    #mobile-ovr-select {
        display: none !important;
    }

    .tool-bar {
        position: absolute;
        left: 20px;
        top:  20px;
        &-row {
            display: flex;
        }
        &.webview {
            position: fixed;
            width: 38px;
            height: 38px;
            cursor: pointer;
            display: none;
            top: 19px;
            right: 31px;
            z-index: 999;
        }
    }
}

.preview-dialog {
    background: #fff;
    &-header {
        background: $primary-color;
        color: #fff;
        padding: 1vw 2vw;
        display: flex;
        font-size: 20px;
        font-weight: $medium-font-weight;
        &--title {
            flex: 1;
        }
    }
    &-body {
        padding: 2vw;
        display: flex;
        &--video {
            width: 70%;
            video {
                width: 90%;
            }
        }
        &--action {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 2vw;
        }
    }

}
#legend-mobile {
    font-size: 15px !important;
    height: 22px;
}

// Windy popup
.leaflet-popup-content-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(121, 120, 120, 0.5) !important;
    color: #fff !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: 3px solid rgba($color: #fff, $alpha: 0.8);
    position: relative;
    border-radius:5px;
    &:after {
        content: " ";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid rgba($color: #fff, $alpha: 0.8);
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -8px;
    }
}
.leaflet-popup-tip-container {
    display: none;
}

.map-pop-up {
    font-size: 15px;
    &-name {
        min-width: 100px;
    }
    &-data {
        display: flex;
        &--temp {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
        }
        img {
            width: 50px;
        }
    }
}

.menu-icon {
    position: fixed;
    width: 38px;
    height: 38px;
    cursor: pointer;
    display: none;
    top: 20px;
    left: 20px;
    z-index: 999;
    &::before, &::after {
        content: '';
        background-color: #fff;
        position: absolute;
        top: 9px;
        left: 0px;
        width: 35px;
        height: 3px;
        pointer-events: none;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    &::after {
        top: 27px;
    }
    span {
        content: '';
        background-color: #fff;
        position: absolute;
        top: 18px;
        left: 0px;
        width: 35px;
        height: 3px;
        pointer-events: none;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
    }
    &.active {
        &::before {
            width: 70%;
            left: 17%;
            -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
            top: 43%;
        }
        &::after {
            width: 70%;
            left: 15%;
            -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
            top: 41%;
        }
        span {
            opacity: 0
        }
    }
}

@media all and (min-width: 320px) and (max-width: 1000px) {
    .menu-icon {
        display: block;
        right: 20px;
    }
    .tool-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(121, 120, 120, 0.5);
        max-width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        z-index: 999;
        -webkit-transform: translateX(-170%);
        transform: translateX(-170%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &.show {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

}
