.home-page-container {
    #windy {
        width: 100%;
        height: 100vh;
        @media all and (min-width: 320px) and (max-width: 700px) {
            &.resize {
                height: calc(100vh - 300px);
                min-height: 300px;
            }
        }
    }
    .result {
        position: absolute;
        top: 19px;
        left: 280px;
        @media all and (min-width: 320px) and (max-width: 700px) {
            position: relative;
            top: auto;
            left: auto;
            height: 300px;
        }
    }
    #logo {
        display: none;
    }
    position: relative;
    .record-btn {
        position: absolute;
        right: 2vw;
        bottom: 4vw;
    }
    .back-btn {
        position: absolute;
        right: 2vw;
        top: 2vw;

    }
    .qr-code-scan {
        position: absolute;
        right: 7vw;
        top: 2vw;
    }

    .windy-setting-on-map {
        position: absolute;
        right: 15px;
        // bottom: 34px;
        bottom: 20%;
    }

    &-icon-picker {
        position: absolute;
        right: 15px;
        top: 20%;
        background: #000;
        padding: 10px;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(121, 120, 120, 0.5);
        cursor: pointer;
    }
    .hide-tab {
        display: none;
    }
    #mobile-ovr-select {
        display: none !important;
    }

    .tool-bar {
        position: absolute;
        left: 20px;
        top:  20px;
        &-row {
            display: flex;
        }
        &.webview {
            position: fixed;
            width: 38px;
            height: 38px;
            cursor: pointer;
            display: none;
            top: 19px;
            right: 31px;
            z-index: 999;
        }
    }
}

.preview-dialog {
    background: #fff;
    &-header {
        background: $primary-color;
        color: #fff;
        padding: 1vw 2vw;
        display: flex;
        font-size: 20px;
        font-weight: $medium-font-weight;
        &--title {
            flex: 1;
        }
    }
    &-body {
        padding: 2vw;
        display: flex;
        &--video {
            width: 70%;
            video {
                width: 90%;
            }
        }
        &--action {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 2vw;
        }
    }

}
#legend-mobile {
    font-size: 15px !important;
    height: 22px;
}

// Windy popup
.leaflet-popup-content-wrapper {
    background: transparent !important;
    font-weight: 700 !important;
    font-size: 20px;
    color: #fff !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: none;
    position: relative;
    border-radius:5px;
    margin: 0;
    // &:after {
    //     content: " ";
    //     width: 0;
    //     height: 0;
    //     border-left: 8px solid transparent;
    //     border-right: 8px solid transparent;
    //     border-top: 8px solid rgba($color: #fff, $alpha: 0.8);
    //     position: absolute;
    //     bottom: -10px;
    //     left: 50%;
    //     margin-left: -8px;
    // }
}
.leaflet-popup-tip-container {
    display: none;
}

.map-pop-up {
    font-size: 25px;
    &-name {
        min-width: 100px;
    }
    &-data {
        display: flex;
        &--temp {
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            width: 70px;
        }
    }
    &.small {
        font-size: 15px;
        &-data {
            img {
                width: 40px;
            }
        }
    }
}

.menu-icon {
    position: fixed;
    width: 38px;
    height: 38px;
    cursor: pointer;
    display: none;
    top: 20px;
    left: 20px;
    z-index: 999;
    &::before, &::after {
        content: '';
        background-color: #fff;
        position: absolute;
        top: 9px;
        left: 0px;
        width: 35px;
        height: 3px;
        pointer-events: none;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    &::after {
        top: 27px;
    }
    span {
        content: '';
        background-color: #fff;
        position: absolute;
        top: 18px;
        left: 0px;
        width: 35px;
        height: 3px;
        pointer-events: none;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
    }
    &.active {
        &::before {
            width: 70%;
            left: 17%;
            -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
            top: 43%;
        }
        &::after {
            width: 70%;
            left: 15%;
            -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
            top: 41%;
        }
        span {
            opacity: 0
        }
    }
}

#sortAble-list {
    max-height: 650px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media all and (min-width: 320px) and (max-width: 1000px) {
    .menu-icon {
        display: block;
        right: 20px;
    }
    .tool-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(121, 120, 120, 0.5);
        max-width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        z-index: 999;
        -webkit-transform: translateX(-170%);
        transform: translateX(-170%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &.show {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

}

.leaflet-interactive {
    animation: fadein 0.5s;
}

.hide-animation {
    display: none !important;
}

.particles-layer {
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein-hide {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fake-transition {
    // animation: fadein 2s;
    position: absolute;
    top: 0;
    opacity: 1;
    transition: visibility 0s .5s, opacity .5s linear;
    &.hide {
        visibility: hidden;
        opacity: 0;
    }
}

.map-title {
    position: absolute;
    color: #000;
    font-size: 30px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    font-weight: 600;
    width: 475px;
    text-align: center;
    &.right {
        right: 10vw;
        top: 2vw;
    }
    &.left {
        left: 10vw;
        top: 2vw;
    }
}

.video-forecast {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(121, 120, 120, 0.5);
    color: #fff;
    width: 400px;
    &.right {
        right: 12vw;
        top: 9vw;
    }
    &.left {
        left: 12vw;
        top: 9vw;
    }
}

.video-forecast-province {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), rgba(121, 120, 120, 0.5);
    color: #fff;
    width: 920px;
    &.right {
        right: 10vw;
        top: 6vw;
    }
    &.left {
        left: 10vw;
        top: 6vw;
    }
    &.tnb-right {
        right: 1vw;
        top: 1vw;
    }
    &.vl-left {
        left: 5vw;
        top: 6vw;
    }
}

#progress-bar {
    display: none !important;
}
