<div class="home-page-container">
    <div  style="width: 100%; height: 100vh;" viewBox="0 0 4000 2080">
        <div :class="forecastData && isWebView ? 'resize' : ''" id="windy"></div>
    </div>
    <div v-if="isRecording" class="fake-transition" :class="!isDisplayFake ? 'hide' : ''">
        <img :src="fakeImage" />
    </div>
    <div v-if="isShowMapTitle && !isRecording" class="map-title animate__animated" :class="mapTitle.position" >
        Khu vực: {{mapTitle ? mapTitle.name : ''}}
    </div>

    <video-map-title v-if="isRecording" ref="mapTitle" />

    <!-- <div v-if="isShowVideoForecase" class="video-forecast animate__animated" :class="mapTitle.position">
        <video-forecast v-if="boxData" :location="boxData" :is-province="isProvinceData"/>
    </div> -->

    <div v-if="isShowVideoForecaseProvince && !isRecording" class="video-forecast-province animate__animated" :class="videoForecastAnimation">
        <video-forecast-province v-if="provinceData" :location="provinceData" :is-province="isProvinceData" :template-type="videoLayout"/>
    </div>

    <text-box v-if="isRecording" ref="textBox"/>

    <custom-temp-info v-if="isRecording" ref="tempInfo"/>

    <div v-if="!isRecording && forecastData && isWebView" class="result">
        <tool-bar v-if="forecastData" :station-info="forecastData" @changeTime="updateDistrictPopUp" />
    </div>

    <div v-if="!isWebView" class="record-btn">
        <v-btn v-show="isShowButtonStop" @click="handleClearTimeout" color="primary" depressed elevation="7" rounded
            x-large>
            Dừng
        </v-btn>
        <v-btn v-show="!isRecording" style="margin-left: 20px;" @click="handleOpenScenario" color="primary" depressed
            elevation="7" rounded x-large>
            Kịch Bản
        </v-btn>
        <v-btn v-show="!isRecording" style="margin-left: 20px;" @click="capture" color="primary" depressed elevation="7"
            rounded x-large>
            Xuất Video
        </v-btn>
    </div>
    <div class="tool-bar" :class="menuClick ? 'show' : ''">
        <div class="tool-bar-row">
            <div>
                <location-picker v-show="!isRecording" :custom="customLocationControl"
                    @change-map="handleChangeLocation" @clear="handleResetLayer"
                    @change-region-map="handleChangeRegion" />
                <map-type-picker :custom="customMapStatusControl" v-show="!isRecording" @change-map="handleChangeMap" />
                <elevation-picker v-show="!isRecording" v-model="customLevelControl" @change="handleChangeLevel" />
            </div>
            <div v-if="!isWebView && !isRecording" style="margin-left: 20px;">
                <tool-bar v-if="forecastData" :station-info="forecastData" @changeTime="updateDistrictPopUp" />
            </div>
        </div>
    </div>
    <div class="menu-icon" :class="menuClick ? 'active' : ''" @click="menuClick = !menuClick">
        <span></span>
    </div>


    <div v-if="!isRecording && !isWebView" class="home-page-container-icon-picker"
        @click="isHideIconPicker = !isHideIconPicker">
        <img src="https://weatherstoragevn.blob.core.windows.net/images/icons/2501-2502.png" width="50" height="50"
            alt="" />
    </div>
    <icon-picker v-if="!isWebView" :is-recording="isRecording || isHideIconPicker" />

    <v-btn v-show="!isRecording && !isWebView" class="mx-2 back-btn" fab dark large color="primary"
        @click="handleBack()">
        <v-icon dark>
            mdi-keyboard-backspace
        </v-icon>
    </v-btn>
    <v-btn class="qr-code-scan" icon color="white" v-show="!isRecording && !isWebView" @click="visibleQR = !visibleQR">
        <v-icon>mdi-qrcode-scan</v-icon>
    </v-btn>

    <v-dialog v-model="isDisplayDialog" persistent max-width="1400">
        <div class="preview-dialog">
            <div class="preview-dialog-header">
                <div class="preview-dialog-header--title">
                    Nội Dung Tải Xuống
                </div>
                <div class="preview-dialog-header--action">
                    <v-btn @click="isDisplayDialog = false" icon color="white">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </div>
            </div>
            <div class="preview-dialog-body">
                <div class="preview-dialog-body--video">
                    <video :src="media" autoplay loop>
                        <source :src="media" type="application/x-mpegurl">
                    </video>
                </div>
                <div class="preview-dialog-body--action">
                    <v-btn @click="handleDownload()" color="primary">
                        Tải Xuống
                        <v-icon color="white">mdi-download</v-icon>
                    </v-btn>
                </div>
            </div>
        </div>
    </v-dialog>
    
    <scenario-modal @remote="handleRemote" @remote-move="handleMove" v-model="drawer" @preview="handlePreview"
        @capture="(e) => handlePreview(e,true)" />

    <qr-code v-model="visibleQR" />
    <video id="player" controls autoplay style="display: none;"></video>
    <canvas id="canvas" style="display: none;"></canvas>
    <div v-if="isRecording && !isReview" style="
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
        cursor: none;
    "></div>
</div>
